@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions
@using Crm.Library.Modularization.Extensions

<div class="modal-header card-header ch-alt">
	<button type="button" class="close" data-dismiss="modal" aria-label="@(Html.Localize("Close"))">
		<span aria-hidden="true">&times;</span>
	</button>
	<h4 class="modal-title">@(Html.Localize("EditDispatch"))</h4>
</div>
<div class="modal-body card-body card-padding">
	<form action="#" data-bind="with: dispatch">
		<!-- ko if: $parent.type == 'ServiceOrderDispatch' -->
		<div id="articleUserRelationshipWarning" data-bind="html: $parent.articleUserRelationshipValidationText"></div>
		<!-- ko if: $parent.warnings().length > 0 -->
		<div id="warnings" class="alert alert-warning" role="alert">
			<h4 data-bind="translatedText:'Warning'"></h4>
			<!-- ko foreach: $parent.warnings() -->
			<p data-bind="text: $data"></p>
			<!-- /ko -->
		</div>
		<!-- /ko -->
		<div class="container p-0 fg-line">
			<div class="row">
				<div class="col-sm-3">
					<form-element params="value: Date, caption: 'StartDate', type: 'datePicker', datePickerOptions: { pickDateTime: true, config: { stepping: parseInt(Sms.Scheduler.Settings.WorkingTime.MinutesInterval) } }, disable: $root.readonly() || IsFixed()"></form-element>
				</div>
				<!-- ko if: Crm.PerDiem.Settings.TimeEntry.ShowTimeZone -->
				<div class="col-sm-3">
					<form-element params="value: TimeZone, caption: 'TimeZoneName', type: 'select', disable: $root.readonly() || IsFixed()">
						<select class="form-control" data-bind="select2autocompleter: Helper.Date.getTimeZoneSelect2Options(), value: value, disable: disable"></select>
					</form-element>
				</div>
				<!-- /ko -->
				<div class="col-sm-3">
					<form-element params="value: EndDate, caption: 'EndDateCaption', type: 'datePicker', datePickerOptions: { pickDateTime: true, config: { stepping: parseInt(Sms.Scheduler.Settings.WorkingTime.MinutesInterval) } }, disable: $root.readonly() || IsFixed()"></form-element>
				</div>
				<div class="col-sm-3">
					<form-element params="value: $root.duration, caption: 'NetWorkMinutes', type: 'durationPicker', datePickerOptions: { config: { stepping: parseInt(Sms.Scheduler.Settings.WorkingTime.MinutesInterval) } }, disable: $root.readonly() || IsFixed()"></form-element>
				</div>
			</div>
			<form-element params="value: $root.isReleased, caption: 'Released', type: 'checkbox', disable: $root.readonly() && !['Scheduled', 'Released'].includes(StatusKey())"></form-element>
			<form-element params="value: IsFixed, caption: 'Fixed', type: 'checkbox', disable: $root.readonly()"></form-element>
			<form-element params="value: InfoForTechnician, caption: 'InfoForTechnician', type: 'textarea', disable: $root.readonly()"></form-element>
			<div class="fg-line">
				<form-element params="value: Remark, caption: 'Remark', type: 'textarea', disable: $root.readonly()"></form-element>
			</div>
		</div>
		<div id="jobs" class="fg-line p-b-10">
			<label class="fg-label control-label">@(Html.Localize("ServiceOrderTimes"))</label>
			<select name="jobs" class="form-control" multiple="multiple" data-bind="select2autocompleter2: { data: $root.assignedJobs, autocompleteOptions: { customFilter: $root.jobFilter.bind($root), table: 'CrmService_ServiceOrderTime', mapDisplayObject: Helper.ServiceOrderTime.mapForSelect2Display, placeholder: $parent.placeholder } }, disable: $root.readonly()">
			</select>
		</div>
		@(Html.PluginRenderActions("SchedulerEditModalAssignResources"))
		<div class="fg-line">
			<label class="fg-label control-label">@(Html.Localize("Technician"))</label>
			<select name="technicians" class="form-control" data-bind="attr: { 'multiple' : $root.canSelectMultipleTechnicians() ? 'multiple' : null }, select2autocompleter2: { data: $root.assignedResources, autocompleteOptions: { customFilter: $root.resourceFilter.bind($root), table: 'Main_User', mapDisplayObject: Helper.User.mapForSelect2Display, getElementByIdQuery: $root.getUsersByIds, placeholder: $parent.placeholder } }, disable: $root.readonly()">
			</select>
			<div class="row">
				<div class="col-md-8 col-xs-8" data-bind="validationElement: $root.assignedResources">
					<small class="help-block pre-line" data-bind="validationMessage: $root.assignedResources"></small>
				</div>
			</div>
		</div>
		<div id="ToolsAndVehicles" class="fg-line">
			<label class="fg-label control-label">@(Html.Localize("VehiclesAndTools"))</label>
			<select name="tools" class="form-control" multiple="multiple" data-bind="select2autocompleter2: { data: $root.assignedTools, autocompleteOptions: { customFilter: $root.toolsFilter.bind($root), table: 'CrmArticle_Article', mapDisplayObject: $root.mapToolForSelect2Display, placeholder: $parent.placeholder, onSelect: $root.onArticleSelected.bind($root) } }, disable: $root.readonly()">
			</select>
		</div>
		<!-- /ko -->
		<!-- ko if: $parent.type == 'Absence' -->
		<div class="container p-0 fg-line">
			<!-- ko if: $data.innerInstance instanceof window.database.CrmArticle_ArticleDowntime.CrmArticle_ArticleDowntime -->
			<form-element id="DowntimeReasonKey" params="value: DowntimeReasonKey, caption: 'ArticleDowntimeReason', type: 'select'">
				<select name="DowntimeReasonKey" class="form-control" data-bind="select2autocompleter: { data: value, autocompleteOptions: Helper.Lookup.getAutocompleteOptions('CrmArticle_ArticleDowntimeReason') }">
				</select>
			</form-element>
			<!-- /ko -->
			<!-- ko if: $data.innerInstance instanceof window.database.SmsScheduler_Absence.SmsScheduler_Absence -->
			<form-element id="TimeEntryTypeKey" params="value: TimeEntryTypeKey, caption: 'TimeEntryType', type: 'select', disable: $root.lookups.timeEntryTypes.$array.length === 0">
				<select name="TimeEntryTypeKey" class="form-control" data-bind="select2autocompleter: { data: value, autocompleteOptions: { mapDisplayObject: window.Helper.Lookup.mapLookupForSelect2Display, table: 'CrmPerDiem_TimeEntryType', getElementByIdQuery: window.Helper.Lookup.getLookupByKeyQuery, customFilter: function (query, term) { query = query.filter('it.ShowInScheduler === true'); return window.Helper.Lookup.queryLookup(query, term); } } }, disable: disable">
				</select>
			</form-element>
			<!-- /ko -->
			<div class="row">
				<div class="col-sm-6">
					<form-element params="value: From, caption: 'From', type: 'datePicker', datePickerOptions: { pickDateTime: true , config: { stepping: parseInt(Sms.Scheduler.Settings.WorkingTime.MinutesInterval) } }, disable: $root.readonly()"></form-element>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<form-element params="value: To, caption: 'To', type: 'datePicker', datePickerOptions: { pickDateTime: true, config: { stepping: parseInt(Sms.Scheduler.Settings.WorkingTime.MinutesInterval) } }, disable: $root.readonly()"></form-element>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-6">
					<form-element params="value: Description, caption: 'Description', type: 'textarea', disable: $root.readonly()"></form-element>
				</div>
			</div>
		</div>
		<!-- /ko -->
	</form>
</div>
<div class="modal-footer card-header ch-alt p-15">
	<button type="button" class="btn btn-lg btn-default f-13 waves-effect" data-dismiss="modal" data-bind="click: cancel, disable: loading">
		@(Html.Localize("Cancel"))
	</button>
	<button type="button" class="btn btn-lg btn-primary f-13 waves-effect" data-bind="click: save, disable: loading">
		@(Html.Localize("Save"))
	</button>
</div>