@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Extensions
@using Crm.Library.Globalization.Extensions
@using Crm.Library.Modularization.Extensions

<div class="container">
	<div class="card">
		<form role="form" data-bind="with: serviceObject" class="root-form">
			<collapsible-block params="id: 'general'" class="morph">
				<collapsible-block-header params="customCss: 'bg-white', swapIcons: true">
					<span>@(Html.Localize("General"))</span>
				</collapsible-block-header>
				<collapsible-block-content params="context: { serviceObject: $root.serviceObject }">
					<!-- ko with: serviceObject -->
					@Html.PluginRenderActions("ServiceObjectCreateFormGeneralTop")
					<div class="flex-input-row">
						<!-- ko if: window.Crm.Service.Settings.ServiceObject.ObjectNoIsCreateable && (!window.Helper.Offline || window.Helper.Offline.status === 'online') -->
						<div>
							<div class="form-group" data-bind="validationElement: ObjectNo" title="">
								<div class="fg-line">
									<label class="fg-label control-label" data-bind="visible: 'ObjectNo'">
										<span>@(Html.Localize("ObjectNo"))</span>
									</label>
									<input type="text" class="form-control fg-input" name="ObjectNo" data-bind="value: ObjectNo, attr: { maxlength: 20}">
								</div>
								<small class="help-block pre-line" data-bind="validationMessage: ObjectNo" style="display: none;"></small>
							</div>
						</div>
						<!-- /ko -->
						<div>
							<form-element params="value: Name, caption: 'Name', type: 'text'"></form-element>
						</div>
						<div>
							<form-element id="CategoryKey" params="value: CategoryKey, caption: 'Category', type: 'select2'">
								<select class="form-control" data-bind="select2autocompleter: { data: value, default: Helper.Lookup.getLookupValue($root.lookups.serviceObjectCategories, value), autocompleteOptions: { customFilter: Helper.Lookup.queryLookup, table: 'CrmService_ServiceObjectCategory', mapDisplayObject: Helper.Lookup.mapLookupForSelect2Display, placeholder: placeholder } }">
								</select>
							</form-element>
						</div>
					</div>
					@Html.PluginRenderActions("ServiceObjectCreateFormGeneralBottom")
					<!-- /ko -->
				</collapsible-block-content>
			</collapsible-block>

			<div class="top-separator"></div>

			<collapsible-block params="id: 'address-info'" class="morph">
				<collapsible-block-header params="customCss: 'bg-white', swapIcons: true">
					<span>@(Html.Localize("Addressinformation"))</span>
				</collapsible-block-header>
				<collapsible-block-content params="context: { serviceObject: $root.serviceObject }">
					<!-- ko with: serviceObject -->
					@Html.PluginRenderActions("ServiceObjectCreateFormAddressInfoTop")
					<address-editor params="contactId: $data.Id(), onLoad: $root.onLoadAddressEditor.bind($root)"></address-editor>
					@Html.PluginRenderActions("ServiceObjectCreateFormAddressInfoBottom")
					<!-- /ko -->
				</collapsible-block-content>
			</collapsible-block>

			<div class="top-separator"></div>

			<collapsible-block params="id: 'extended-data', collapsed: true" class="morph">
				<collapsible-block-header params="customCss: 'bg-white', swapIcons: true">
					<span>@(Html.Localize("ExtendedData"))</span>
				</collapsible-block-header>
				<collapsible-block-content params="context: { serviceObject: $root.serviceObject }">
					<!-- ko with: serviceObject -->
					@Html.PluginRenderActions("ServiceObjectCreateFormExtendedDataTop")
					<div class="flex-input-row">
						<div>
							<form-element params="value: BackgroundInfo, caption: 'BackgroundInfo', type: 'textarea'"></form-element>
						</div>
						<div>
							<form-element params="value: ResponsibleUser, caption: 'ResponsibleUser', type: 'select'">
								<select class="form-control" name="ResponsibleUser" data-bind="select2autocompleter: { data: value, autocompleteOptions: { orderBy: ['LastName'], table: 'Main_User', mapDisplayObject: Helper.User.mapForSelect2Display, customFilter: Helper.User.filterUserQuery, placeholder: placeholder } }">
								</select>
							</form-element>
						</div>
					</div>
					@Html.PluginRenderActions("ServiceObjectCreateFormExtendedDataBottom")
					<!-- /ko -->
				</collapsible-block-content>
			</collapsible-block>

			<div class="top-separator"></div>

			<collapsible-block params="id: 'visibility', collapsed: true" class="morph">
				<collapsible-block-header params="customCss: 'bg-white', swapIcons: true">
					<span>@(Html.Localize("Visibility"))</span>
				</collapsible-block-header>
				<collapsible-block-content>
					<!-- ko requiredPermission: { name: 'Edit', group: 'Visibility' } -->
					<!-- ko with: $root.visibilityViewModel -->
					@Html.RenderAction("Selection", "Visibility", new { plugin = "Main" })
					<!-- /ko -->
					<!-- /ko -->
				</collapsible-block-content>
			</collapsible-block>

			@Html.PluginRenderActions("ServiceObjectCreateForm")
		</form>
		@await Html.PartialAsync("CreateFormFooter")
	</div>
</div>