@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions
@using Crm.Library.Modularization.Extensions
@using Crm.Service.Model

<ul class="top-menu">
	@Html.PluginRenderActions("ServiceObjectDetailsTopMenu")
	@Html.PluginRenderActions("ContactDetailsTopMenu")
</ul>

<div class="container">
	<div id="profile-main" class="divided-detail">
		<div class="pm-overview c-overflow hide-print card w-100" tabindex="4">
			<block>
				<block-header>
					<div>
						<div data-bind="text: $root.title"></div>
						<div class="f-13 m-t-5">
							<span data-bind="text: $root.additionalTitle"></span>
						</div>
					</div>
				</block-header>
				<block-content>
					<div class="flex-block">
						<!-- ko with: $root -->
						@Html.PluginRenderActions("MaterialServiceObjectHeaderExtensions")
						<!-- /ko -->
					</div>
				</block-content>
			</block>
		</div>
		<div class="row">
			<div class="col-lg-8">
				<div class="card detail-main-block">
					<div class="pm-overview">
						<ul class="tab-nav morph" role="tablist" tabindex="1">
							@Html.PluginRenderActions("ServiceObjectDetailsMaterialTabHeader")
						</ul>
					</div>
					<div class="pm-body clearfix">
						<div class="tab-content">
							@Html.PluginRenderActions("ServiceObjectDetailsMaterialTab")
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<div class="row">
					<div class="col-lg-12 col-md-6">
						<div class="card detail-side-block">
							<collapsible-block params="id: 'tags'">
								<collapsible-block-header params="icon: 'tag'">
									<span>@(Html.Localize("Tags"))</span>
								</collapsible-block-header>
								<collapsible-block-content>
									<!-- ko with: $root -->
									@await Html.PartialAsync("ContactDetailsTagBlock", typeof(ServiceObject))
									<!-- /ko -->
								</collapsible-block-content>
							</collapsible-block>
						</div>
					</div>
					<div class="col-lg-12 col-md-6">
						<div class="card detail-side-block">
							<collapsible-block params="id: 'background-info'">
								<collapsible-block-header params="icon: 'equalizer'">
									<span>@(Html.Localize("BackgroundInfo"))</span>
								</collapsible-block-header>
								<collapsible-block-content>
									<pmb-block params="context: { serviceObject: $root.serviceObject }, condition: window.AuthorizationManager.isAuthorizedForAction('ServiceObject', 'Edit')">
										<pmbb-view>
											<!-- ko with: serviceObject -->
											<span data-bind="text: BackgroundInfo"></span>
											<span data-bind="translatedText: 'BackgroundInformationEmptyState', ifnot: BackgroundInfo"></span>
											<!-- /ko -->
										</pmbb-view>
										<pmbb-edit>
											<!-- ko with: serviceObject -->
											<div class="fg-line">
												<textarea class="form-control" rows="5" placeholder="@(Html.Localize("BackgroundInfo"))..." data-bind="value: BackgroundInfo"></textarea>
											</div>
											<!-- /ko -->
										</pmbb-edit>
									</pmb-block>
								</collapsible-block-content>
							</collapsible-block>
						</div>
					</div>
				</div>
				@Html.PluginRenderActions("MaterialServiceObjectSidebarExtensions")
			</div>
		</div>
	</div>
</div>