@inherits Crm.Library.Modularization.CrmViewPage<Main.ViewModels.ClientSelectionViewModel>
@{
	Layout = "~/Views/Shared/Layout/LoginLayout.cshtml";
}
@using Crm.Library.Globalization.Extensions

@section TitleContent {
	<title>@(Html.Localize("Login"))</title>
}

@section MainContent {
	@await Html.PartialAsync("Master/CordovaJs")

	<div class="client-selector">
		<div class="m-t-10">
			<div class="client-selector-container">

				<div class="text-center">
					<div class="f-14">
						@(Html.Localize("Welcome")) <b>@(Model.User.DisplayName)</b>
					</div>
				</div>

				<hr />

				<div id="client-selection" class="elements">
					@foreach (var redirectProviderResult in Model.RedirectProviderResults)
					{
						<a href="@(Url.Content(redirectProviderResult.LoginUrl))"
							 data-wml-speech-command="@($"{redirectProviderResult.Name}LoginTitle")">
							<span class="client-block">
								<span class="main-icon">
									<i class="zmdi zmdi-@(redirectProviderResult.Icon) zmdi-hc-3x"></i>
								</span>
								<span>
									<span class="f-20">
										@(Html.Localize($"{redirectProviderResult.Name}LoginTitle"))
									</span>
									<br>
									<span>
										@(Html.Localize($"{redirectProviderResult.Name}LoginDescription"))
									</span>
								</span>
								<span>
									<i class="zmdi zmdi-chevron-right zmdi-hc-2x"></i>
								</span>
							</span>
						</a>
						<hr />
					}
					@if (Model.RedirectProviderResults.Count == 0)
					{
						<span class="client-block">
							<span>
								<span class="f-20">
									@(Html.Localize("Warning"))
								</span>
								<br>
								<span>
									@(Html.Localize("NoClientAvailable"))
								</span>
							</span>
						</span>
						<hr />
					}
				</div>
			</div>
		</div>
	</div>
	<div class="additional-actions">
		<div>
			<a id="logout" href="@(Url.Action("Logout", "Account"))" class="btn btn-xs btn-link logout-client-selection">
				@(Html.Localize("LoginAsDifferentUser", searchStrategy: Search.OnlyMain))
			</a>
		</div>
	</div>
}