@inherits Crm.Library.Modularization.CrmViewPage<Main.ViewModels.LoginMfaTotpViewModel>
@{
	Layout = "~/Views/Shared/Layout/LoginLayout.cshtml";
}
@using System.Net
@using Crm.Library.Extensions
@using Crm.Library.Globalization.Extensions
@using Main.Extensions

@{
	var showTotpSetup = Model.NewAuthorizationKey != null;
}

@section TitleContent {
	<title>@(Html.Localize("Login"))</title>
}

@section MainContent {
	@using (Html.BeginForm("LoginMFATotp", null, FormMethod.Post, new { id = "login-mfa-totp-form", @class = "totp-form" }))
	{
		<div class="text-center">
			<div class="f-14">
				@(Html.Localize("Welcome")) <b>@(Model.User.DisplayName)</b>
			</div>
		</div>
		@if (showTotpSetup)
		{
			<h2 class="text-center">
				@(Html.Localize("CheckYourAuthenticatorAppToScanQr"))
			</h2>
			<div id="totp-authorization-uri" class="hidden">@(Html.Raw(Model.NewAuthorizationUri))</div>
			<div class="qr-container">
				<canvas id="totp-barcode-canvas"></canvas>
			</div>

			<b class="m-t-10">
				@(Html.Localize("CannotScanQrCode"))
			</b>
			<div class="auth-key-info">
				<input type="text" id="totpAuthorizationKeyInput" name="totpAuthorizationKeyInput" class="form-control" readonly
					value="@(Model.NewAuthorizationKey)" />
				<div>
					<a id="totp-authorization-uri-copy" href="#" title="@(Html.Localize("CopyToClipboard"))">
						<i class="f-19 zmdi zmdi-copy c-black m-t-5"></i>
					</a>
				</div>
			</div>

			@(Html.Hidden("newAuthorizationKey", Model.NewAuthorizationKey))
			@(Html.Hidden("newAuthorizationUri", Model.NewAuthorizationUri))
		}
		else
		{
			<h2 class="text-center">
				@(Html.Localize("CheckYourAuthenticatorApp"))
			</h2>
		}
		<b class="m-t-10">
			@(Html.Localize("OneTimePassword"))
		</b>
		<div id="totp-token-container">
			<input type="text" id="totpToken1" maxlength="1" autocomplete="off" class="form-control totp-token-input" placeholder=" " />
			<input type="text" id="totpToken2" maxlength="1" autocomplete="off" class="form-control totp-token-input" placeholder=" " />
			<input type="text" id="totpToken3" maxlength="1" autocomplete="off" class="form-control totp-token-input" placeholder=" " />
			-
			<input type="text" id="totpToken4" maxlength="1" autocomplete="off" class="form-control totp-token-input" placeholder=" " />
			<input type="text" id="totpToken5" maxlength="1" autocomplete="off" class="form-control totp-token-input" placeholder=" " />
			<input type="text" id="totpToken6" maxlength="1" autocomplete="off" class="form-control totp-token-input" placeholder=" " />
		</div>

		<div class="has-error">
			<small class="help-block">
				@(Html.RuleViolationMessage())
			</small>
		</div>

		@(Html.Hidden("rememberMe"))
		@(Html.Hidden("needRedirect"))
		@(Html.Hidden("totpToken"))
	}
	<div class="additional-actions">
		<div>
			@(Html.ActionLink(Html.Localize("BackToLogin"), "Login", "Account", new { plugin = "Main" }, new { @class = "btn btn-xs btn-link" }))
		</div>
	</div>
	@(Html.Hidden("copySuccessMessage", Html.Localize("AuthorizationKeyCopied")))
	@(Html.Hidden("internalServerErrorMessage", Html.Localize("Error_InternalServerError")))
}