@inherits Crm.Library.Modularization.CrmViewPage<Main.ViewModels.LoginViewModel>
@{
	Layout = "~/Views/Shared/Layout/LoginLayout.cshtml";
}
@using System.Net
@using Crm.Library.Extensions
@using Crm.Library.Globalization.Extensions
@using Main.Extensions

@section TitleContent {
	<title>@(Html.Localize("Login"))</title>
}

@section MainContent {
	@await Html.PartialAsync("Master/CordovaJs")
	@if (Model.NewPasswordSent)
	{
		<div class="alert alert-success p-relative" role="alert">@(Html.Localize("PasswordResetLinkSent"))</div>
	}
	@if (Model.NoTenantAvailable)
	{
		<div class="alert alert-danger p-relative" role="alert">@(Html.Localize("NoTenantAvailable"))</div>
	}
	<div class="logo-container f-20 f-700 c-black">
		@(Html.LogoOrTitleString())
	</div>
	<div class="@("hidden".If(Model.UseOpenIdAuthentication))" id="l-login">
		@using (Html.BeginForm())
		{
			@if (Model.LoginCookie == null && !Model.PasswordChangeRequired && Model.PasswordResetToken == null)
			{
				<div class="fg-line">
					<input type="@(Model.LoginType == "Email" ? "email" : "text")" id="email" name="email" autocomplete="username" class="form-control indent" placeholder="@(Html.Localize(Model.LoginType))" />
				</div>
				<div class="fg-line position-relative">
					<input type="password" id="password" name="password" autocomplete="current-password" class="form-control indent" placeholder="@(Html.Localize("Password"))" />
					<button type="button" class="btn-password-toggle" tabindex="-1">
						<i class="zmdi zmdi-eye" id="password-toggle-icon"></i>
					</button>
				</div>
				<div class="has-error">
					<small class="help-block">
						@(Html.RuleViolationMessage())
					</small>
				</div>
				<div class="checkbox">
					<label>
						<input type="checkbox" name="rememberMe" value="true" />
						<i class="input-helper"></i>
						@(Html.Localize("RememberMe"))
					</label>
				</div>
				@(Html.Hidden("needRedirect"))
			}
			else
			{
				@if (Model.PasswordChangeRequired)
				{
					<div class="fg-line m-t-20 position-relative">
						<input type="password" id="password" name="password" class="form-control" placeholder="@(Html.Localize("OldPassword"))" />
						<button type="button" class="btn-password-toggle" tabindex="-1">
							<i class="zmdi zmdi-eye" id="password-toggle-icon"></i>
						</button>
					</div>
					<div class="fg-line m-t-20 position-relative">
						<input type="password" id="newPassword" name="newPassword" class="form-control" placeholder="@(Html.Localize("NewPassword"))" />
						<button type="button" class="btn-password-toggle" tabindex="-1">
							<i class="zmdi zmdi-eye" id="newPassword-toggle-icon"></i>
						</button>
					</div>
					<div class="is-weak">
						<small class="help-block"></small>
					</div>
					<div class="fg-line m-t-20 position-relative">
						<input type="password" id="newPassword2" name="newPassword2" class="form-control" placeholder="@(Html.Localize("ConfirmNewPassword"))" />
						<button type="button" class="btn-password-toggle" tabindex="-1">
							<i class="zmdi zmdi-eye" id="newPassword2-toggle-icon"></i>
						</button>
					</div>
				}
				else if (Model.PasswordResetToken != null)
				{
					<input type="hidden" name="passwordResetToken" value="@Model.PasswordResetToken" />
					<div class="fg-line m-t-20 position-relative">
						<input type="password" id="newPassword" name="newPassword" class="form-control text-center" placeholder="@(Html.Localize("NewPassword"))" />
						<button type="button" class="btn-password-toggle" tabindex="-1">
							<i class="zmdi zmdi-eye" id="newPassword-toggle-icon"></i>
						</button>
					</div>
					<div class="fg-line m-t-20 position-relative">
						<input type="password" id="newPassword2" name="newPassword2" class="form-control text-center" placeholder="@(Html.Localize("ConfirmNewPassword"))" />
						<button type="button" class="btn-password-toggle" tabindex="-1">
							<i class="zmdi zmdi-eye" id="newPassword2-toggle-icon"></i>
						</button>
					</div>
				}
				else
				{
					<div class="text-center">
						<img id="pre-populated-avatar" class="lcb-user bgm-white" src="" style="display: none;" alt="" />
						<h4 id="pre-populated-display-name"></h4>
						<div>
							<strong id="pre-populated-email"></strong>
						</div>
					</div>
					<div class="fg-line position-relative">
						<input type="password" id="password" name="password" class="form-control" placeholder="@(Html.Localize("Password"))" />
						<button type="button" class="btn-password-toggle" tabindex="-1">
							<i class="zmdi zmdi-eye" id="password-toggle-icon"></i>
						</button>
					</div>
				}
				<div class="has-error">
					<small class="help-block">
						@(Html.RuleViolationMessage())
					</small>
				</div>
				@(Html.Hidden("email", WebUtility.UrlDecode(Model.LoginCookie)))
				@(Html.Hidden("rememberMe", true))
			}
			<button id="btn-login" class="btn btn-login btn-primary w-100" type="submit">
				@(Html.Localize("Login"))
			</button>
		}
		<div class="additional-actions">
			@if (Model.CanResetPassword)
			{
				<div>
					@(Html.ActionLink(Html.Localize("ForgotPassword"), "ResetPassword", "Account", new { plugin = "Main" }, new { @class = "btn btn-xs btn-link returntoremember" }))
				</div>
			}
			@if (Model.LoginCookie != null || Model.PasswordChangeRequired)
			{
				<div>
					<a href="#" class="btn btn-xs btn-link remove-login">@(Html.Localize("LoginAsDifferentUser"))</a>
				</div>
			}
			<div>
				<button id="barcodeScanner" class="btn btn-xs btn-link hidden" data-toggle="modal" data-target="#modal" data-wml-speech-command="barcode">
					@(Html.Localize("BarcodeLogin"))
				</button>
			</div>
		</div>
	</div>

	<div class="@("hidden".If(!Model.UseOpenIdAuthentication))" id="openidlogin">
		<a class="btn btn-primary btn-login btn-primary w-100" id="openidloginbutton" href="@(Url.Action("OpenIdLogin", "Account"))">
			@(Html.Localize("OpenIdLogin"))
		</a>
	</div>

	@if (Model.SuggestApp)
	{
		@await Html.PartialAsync("AppSuggestion", Model)
	}

	<div class="modal animated fadeIn" id="modal" data-backdrop="static" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
		<div class="modal-dialog card">
			<div class="modal-content">
				<div class="modal-header card-header ch-alt">
					<button type="button" class="close" data-dismiss="modal" aria-label="@(Html.Localize("Close"))">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title">@(Html.Localize("BarcodeLogin"))</h4>
				</div>
				<div class="modal-body card-body card-padding">
					<video id="barcodeScannerVideo" src="" class="w-100" autoplay playsinline></video>
				</div>
			</div>
		</div>
	</div>
	}