@using Crm.Library.Globalization.Extensions
@using Crm.Library.Modularization.Extensions
@inherits Crm.Library.Modularization.CrmViewUserControl

<div role="tabpanel" class="tab-pane animated fadeIn" id="tab-devices" data-bind="with: tabs()['tab-devices']">
	<div data-bind="if: currentFingerprint()">
		<div class="card-body card-padding table-responsive generic-list">
			<table class="table">
				<thead>
				<tr>
					<th class="col-xs-8">@Html.Localize("Platform")</th>
					@Html.PluginRenderActions("UserProfileDevicesTabTableHeader")
					<th class="col-xs-2"></th>
				</tr>
				</thead>
				<tbody data-bind="foreach: items">
				<tr data-bind="style: { 'font-weight': Fingerprint() == $parent.currentFingerprint() ? 'bold' : ''}">
					<td class="col-xs-8">
						<span data-bind="text: DeviceInfo, if: DeviceInfo"></span>
						<span data-bind="translatedText: 'Unspecified', ifnot: DeviceInfo"></span>
						<em data-bind="if: Fingerprint() == $parent.currentFingerprint()">(@Html.Localize("Current"))</em>
						<br/>
						<small class="c-gray">
							<span data-bind="translatedText: 'CreateDate'"></span>: 
							<span data-bind="dateText: { value: CreateDate, pattern: { datetime: 'full' } }"></span>
						</small>
					</td>
					@Html.PluginRenderActions("UserProfileDevicesTabTableRow")
					<td class="col-xs-2 text-center">
						<!-- ko if: Fingerprint() != $parent.currentFingerprint() -->
						<a href="#" data-bind="attr: { 'data-route' : 'Main/Account/RemoveDevice/' + $data.Id() }, tooltip: true" title="@(Html.Localize("Remove"))" data-toggle="modal" data-target="#modal" class="c-red f-20">
							<i class="zmdi zmdi-delete"></i>
						</a>
						<!-- /ko -->
					</td>
				</tr>
				</tbody>
			</table>
			@await Html.PartialAsync("MaterialPaging")
		</div>
	</div>
</div>