@using Crm.Library.Globalization.Extensions
@using Crm.Library.Modularization.Extensions
@inherits Crm.Library.Modularization.CrmViewUserControl

<!-- ko ifnot: $root.hideActions -->
<lv-actions>
	<!-- ko if: $data.ArticleTypeKey() === 'Material' || ($data.Article() && $data.Article().ArticleTypeKey() === 'Material') -->
	<!-- ko requiredPermission: { name: 'EditMaterial', group: 'ServiceOrder' } -->
	<!-- ko with: $parentContext.$parentContext.$parent -->
	<li data-bind="visible: $data.canEditMaterial.call($data, $parent)">
		<a href="#"
		   data-route="Crm.Service/ServiceOrderMaterial/EditTemplate/{{$parent.Id}}?dispatchId={{$root.dispatch && $root.dispatch() ? $root.dispatch().Id() : ''}}&currentServiceOrderTimeId={{$root.dispatch && $root.dispatch() && $root.dispatch().CurrentServiceOrderTimeId() ? $root.dispatch().CurrentServiceOrderTimeId() : ''}}&serviceOrderId={{$root.serviceOrder().Id}}"
		   data-toggle="modal" data-target="#modal">
			@(Html.Localize("Edit"))
		</a>
	</li>
	<!-- /ko -->
	<!-- /ko -->
	<!-- ko requiredPermission: { name: 'DeleteMaterial', group: 'ServiceOrder' } -->
	<!-- ko with: $parentContext.$parentContext.$parent -->
	<li data-bind="visible: $data.canEditMaterial.call($data, $parent) && ($parent.ServiceOrderMaterialType() === 'Used' || $parent.CreateUser() === $root.currentUser().Id)">
		<a href="#" data-bind="click: () => deleteServiceOrderMaterial($parent)">
			@(Html.Localize("Delete"))
		</a>
	</li>
	<!-- /ko -->
	<!-- /ko -->
	<!-- ko requiredPermission: { name: 'CreateMaterial', group: 'ServiceOrder' } -->
	<!-- ko with: $parentContext.$parentContext.$parent -->
	<li data-bind="visible: $data.invoicePositionsCanBeAdded() && $parent.ServiceOrderMaterialType() === window.Crm.Service.ServiceOrderMaterialType.Preplanned && window.Helper.ServiceOrderMaterial.getInvoicePositions($parent).length === 0">
		<a href="#" data-bind="click: () => createInvoicePosition($parent)">
			@(Html.Localize("AddInvoicePosition"))
		</a>
	</li>
	<!-- /ko -->
	<!-- /ko -->
	<!-- /ko -->
	<!-- ko if: $data.ArticleTypeKey() === 'Cost' || ($data.Article() && $data.Article().ArticleTypeKey() === 'Cost') -->
	<!-- ko requiredPermission: { name: 'EditCost', group: 'ServiceOrder' } -->
	<!-- ko with: $parentContext.$parentContext.$parent -->
	<li data-bind="visible: $data.canEditMaterial.call($data, $parent)">
		<a href="#"
		   data-route="Crm.Service/ServiceOrderMaterial/EditTemplate/{{$parent.Id}}?dispatchId={{$root.dispatch && $root.dispatch() ? $root.dispatch().Id() : ''}}&currentServiceOrderTimeId={{$root.dispatch && $root.dispatch() && $root.dispatch().CurrentServiceOrderTimeId() ? $root.dispatch().CurrentServiceOrderTimeId() : ''}}&serviceOrderId={{$root.serviceOrder().Id}}"
		   data-toggle="modal" data-target="#modal">
			@(Html.Localize("Edit"))
		</a>
	</li>
	<!-- /ko -->
	<!-- /ko -->
	<!-- ko requiredPermission: { name: 'DeleteCost', group: 'ServiceOrder' } -->
	<!-- ko with: $parentContext.$parentContext.$parent -->
	<li data-bind="visible: $data.canEditMaterial.call($data, $parent) && ($parent.ServiceOrderMaterialType() === 'Used' || $parent.CreateUser() === $root.currentUser().Id)">
		<a href="#" data-bind="click: () => deleteServiceOrderMaterial($parent)">
			@(Html.Localize("Delete"))
		</a>
	</li>
	<!-- /ko -->
	<!-- /ko -->
	<!-- ko requiredPermission: { name: 'CreateCost', group: 'ServiceOrder' } -->
	<!-- ko with: $parentContext.$parentContext.$parent -->
	<li data-bind="visible: $data.invoicePositionsCanBeAdded() && ($parent.ServiceOrderMaterialType() === window.Crm.Service.ServiceOrderMaterialType.Preplanned || $parent.ServiceOrderMaterialType() === window.Crm.Service.ServiceOrderMaterialType.Used) && window.Helper.ServiceOrderMaterial.getInvoicePositions($parent).length === 0">
		<a href="#" data-bind="click: () => createInvoicePosition($parent)">
			@(Html.Localize("AddInvoicePosition"))
		</a>
	</li>
	<!-- /ko -->
	<!-- /ko -->
	<!-- /ko -->
	@Html.PluginRenderActions("DispatchMaterialTemplateActions")
</lv-actions>
<!-- /ko -->