@using Crm.Library.Globalization.Extensions
@inherits Crm.Library.Modularization.CrmViewUserControl

<div class="modal-header card-header ch-alt">
	<button type="button" class="close" data-dismiss="modal" aria-label="@(Html.Localize("Close"))">
		<span aria-hidden="true">&times;</span>
	</button>
	<h4 class="modal-title">@(Html.Localize("ReportScheduledMaterial"))</h4>
</div>
<div class="modal-body card-body card-padding">
	<form-element id="ServiceOrderTimeId" params="value: serviceOrderTimeId, caption: 'ServiceOrderTime'" data-bind="visible: window.Crm.Service.Settings.ServiceContract.MaintenanceOrderGenerationMode === 'JobPerInstallation'" >
		<select name="ServiceOrderTimeId" class="form-control" data-bind="select2autocompleter: { data: value, autocompleteOptions: { table: 'CrmService_ServiceOrderTime', orderBy: ['PosNo'], customFilter: $root.getServiceOrderTimeAutocompleteFilter.bind($root), onSelect: $root.onServiceOrderTimeSelect.bind($root), mapDisplayObject: function (o) { return { id: o.Id, text: $root.getServiceOrderTimeAutocompleteDisplay(o) }; } } }">
		</select>
	</form-element>
	<div data-bind="visible: serviceOrderMaterialForServiceOrderTime().length === 0">
		@(Html.Localize("ServiceOrderMaterialEmptySlate"))
	</div>
	<!-- ko if: serviceOrderMaterialForServiceOrderTime().length > 0 -->
	<div class="lv-header" data-bind="visible: $root.serviceOrderTimeId() === null">
		@(Html.Localize("ServiceOrder"))
	</div>
	<div class="lv-header hidden-md hidden-sm hidden-xs">
		<div class="row p-r-15 text-left">
			<div class="col-lg-4 p-r-0">
				@(Html.Localize("Article"))
			</div>
			<div class="col-lg-1 p-r-0">
				@(Html.Localize("EstimatedQty"))
			</div>
			<div class="col-lg-1 p-r-0">
				@(Html.Localize("ActualQty"))
			</div>
			<div class="col-lg-1 p-r-0">
				@(Html.Localize("Unit"))
			</div>
			<!-- ko if: $root.isThereAnyStore -->
			<div class="col-lg-2 p-r-0">
				@(Html.Localize("Store"))
			</div>
			<div class="col-lg-2 p-r-0">
				@(Html.Localize("StoreLocation"))
			</div>
			<!-- /ko -->
			<div class="col-lg-1 p-r-0 pull-right">
			</div>
		</div>
	</div>
	<!-- /ko -->
	<form role="form" action="#" class="root-form" data-bind="foreach: serviceOrderMaterialForServiceOrderTime">
		<div class="row p-r-15">
			<div class="col-lg-4 m-t-10">
				<label class="fg-label control-label hidden-lg">
					<span>@(Html.Localize("Article"))</span>
				</label>
				<div>
					{{ItemNo}}
					<div class="small">{{Description}}</div>
				</div>
				<div class="m-b-15 hidden-lg"></div>
			</div>
			<div class="col-lg-1 p-r-0">
				<form-element class="caption-hidden-lg" params="name: 'EstimatedQty', value: initialQuantity(), caption: quantityUnit() ?  window.Helper.String.getTranslatedString('EstimatedQty') + ' (' + quantityUnit().Value + ')' : 'EstimatedQty', type: 'number', disable: true"></form-element>
			</div>
			<div class="col-lg-1 p-r-0">
				<form-element class="caption-hidden-lg" params="name: 'ActualQty', value: Quantity, caption: quantityUnit() ?  window.Helper.String.getTranslatedString('ActualQty') + ' (' + quantityUnit().Value + ')' : 'ActualQty', type: 'number', quantityStep: QuantityUnitEntry() && QuantityUnitEntry().QuantityStep()"></form-element>
			</div>
			<div class="col-lg-1 p-r-0 hidden-md hidden-sm hidden-xs m-t-10">
				<span data-bind="text: quantityUnit()?.Value, caption: 'QuantityUnit'"></span>
			</div>
			<!-- ko if: $root.isThereAnyStore -->
			<div class="col-lg-2 p-r-0">
				<form-element class="caption-hidden-lg" params="value: FromWarehouse, caption: 'Store'">
					<select name="FromWarehouse" class="form-control" data-bind="select2autocompleter: { data: value, autocompleteOptions: Helper.Store.getCustomAutocompleteOptions($root, null, { onSelect: store => $root.onStoreSelect($parent, store) }) }"></select>
				</form-element>
			</div>
			<div class="col-lg-2 p-r-0">
				<form-element class="caption-hidden-lg" params="value: FromLocation, caption: 'StoreLocation'">
					<select name="FromLocation" class="form-control" data-bind="select2autocompleter: { data: value, autocompleteOptions: {table: 'CrmArticle_Location', getElementByIdQuery: Helper.Store.filterLocationQueryByLocationNo, orderBy: ['LocationNo'] , mapDisplayObject: Helper.Store.mapLocationForSelect2Display, customFilter: query => $root.locationFilter($parent, query), onSelect: location => $root.onLocationSelect($parent, location), placeholder: placeholder } }"></select>
				</form-element>
			</div>
			<!-- /ko -->
			<div class="col-lg-1 p-r-0 pull-right hidden-xs hidden-sm hidden-md">
				<a class="p-l-0 p-t-10 p-b-10 d-block" data-toggle="collapse" aria-expanded="false" data-bind="attr: { href: '#accordion-' + $index() }">
					<div class="d-flex" style="justify-content: space-between; gap: 15px">
						<span class="c-black f-700">
							@(Html.Localize("More_Upper"))
						</span>
						<i class="zmdi zmdi-chevron-down f-18 f-700 c-black"></i>
					</div>
				</a>
			</div>
			<div class="col-lg-1 p-r-0 hidden-lg">
				<a class="p-l-0 p-t-10 p-b-10 d-block" data-toggle="collapse" aria-expanded="false" data-bind="attr: { href: '#accordion-' + $index() }">
					<div class="d-flex" style="justify-content: space-between">
						<span class="c-black f-700">
							@(Html.Localize("More_Upper"))
						</span>
						<i class="zmdi zmdi-chevron-down f-18 f-700 c-black"></i>
					</div>
				</a>
			</div>
		</div>

		<div class="panel panel-collapse m-b-0">
			<div class="collapse" aria-expanded="false" data-bind="attr: { id: 'accordion-' + $index() }">
				<div class="panel-body p-t-25 p-b-0 m-l-20">
					<div class="row">
						<div class="col-lg-4">
							<form-element params="value: InternalRemark, type: 'textarea', caption: 'InternalRemark'"></form-element>
						</div>
						<div class="col-lg-4">
							<form-element params="value: ExternalRemark, type: 'textarea', caption: 'ExternalRemark'"></form-element>
						</div>
						<!-- ko requiredPermission: { name: 'ReplenishmentOrder', group: 'WebAPI' } -->
						<!-- ko if: Crm.Service.Settings.ServiceOrderMaterial.CreateReplenishmentOrderItemsFromServiceOrderMaterial === true -->
						<div class="col-lg-4 m-t-10">
							<form-element params="value: updateReplenishmentOrder, caption: ReplenishmentOrderItemId() ? 'UpdateInReplenishmentOrder' : 'AddToReplenishmentOrder', type: 'checkbox', disable: !$data.Article() || !$data.Article().IsWarehouseManaged()"></form-element>
						</div>
						<!-- /ko -->
						<!-- /ko -->
					</div>
					<!-- ko if: IsBatch() -->
					<div class="row">
						<div class="col-lg-4">
							<form-element params="value: BatchNo, caption: 'BatchNo', type: 'text'"></form-element>
						</div>
					</div>
					<!-- /ko -->

					<div data-bind="visible: IsSerial">
						<div class="row">
							<div class="col-sm-4">
								<!-- ko ifnot: window.ko.utils.arrayFirst($root.showReasons(), (function (x) { return x.materialId === $data.Id() })).showReason() -->
								<form-element params="value: PreviousSerialNo, caption: 'PreviousSerialNo', type: 'text'"></form-element>
								<!-- /ko -->
								<!-- ko if: window.ko.utils.arrayFirst($root.showReasons(), (function (x) { return x.materialId === $data.Id() })).showReason() -->
								<form-element params="value: NoPreviousSerialNoReasonKey, caption: 'NoPreviousSerialNoReason', type: 'select'">
									<select name="NoPreviousSerialNoReasonKey" class="form-control" data-bind="select2autocompleter: { data: value, autocompleteOptions: { customFilter: Helper.Lookup.queryLookup, table: 'CrmService_NoPreviousSerialNoReason', mapDisplayObject: Helper.Lookup.mapLookupForSelect2Display, getElementByIdQuery: Helper.Lookup.getLookupByKeyQuery, placeholder: Helper.String.getTranslatedString('PleaseSelect') }}">
									</select>
								</form-element>
								<!-- /ko -->
							</div>
							<div class="col-sm-4">
								<!-- ko with: window.ko.utils.arrayFirst($root.showReasons(), (function (x) { return x.materialId === $data.Id() })) -->
								<!-- ko if: showReason -->
								<button class="btn btn-default waves-effect normal-white-space" data-bind="click: () => showReason(false), enable : !$parent.NoPreviousSerialNoReasonKey()">
									<i class="zmdi zmdi-plus"></i>
									@(Html.Localize("PreviousSerialNo"))
								</button>
								<!-- /ko -->
								<!-- ko ifnot: showReason -->
								<button class="btn btn-default waves-effect normal-white-space" data-bind="click: () => showReason(true), enable: !$parent.PreviousSerialNo()">
									<i class="zmdi zmdi-plus"></i>
									@(Html.Localize("NoPreviousSerialNoReason"))
								</button>
								<!-- /ko -->
								<!-- /ko -->
							</div>
							<div class="col-sm-4">
								<form-element params="value: SerialNo, caption: 'SerialNo', type: 'text'"></form-element>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<hr style="border-color: #b5b5b5" />
	</form>
</div>
<div class="modal-footer card-header ch-alt p-15">
	<button type="button" class="btn btn-lg btn-default f-13 waves-effect" data-bind="click: Helper.Database.clearTrackedEntities" data-dismiss="modal">
		@(Html.Localize("Cancel"))
	</button>
	<button type="button" class="btn btn-lg btn-primary f-13 waves-effect" data-bind="click: save, disable: loading">
		@(Html.Localize("Save"))
	</button>
</div>