@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions
@using Crm.Library.Modularization.Extensions

<div role="tabpanel" class="tab-pane animated fadeIn" id="tab-details">
	<pmb-block id="general-information-pmb" params="icon: 'equalizer', caption: 'General', context: { serviceContract: serviceContract }, condition: window.AuthorizationManager.isAuthorizedForAction('ServiceContract', 'Edit'), onAfterSave: $root.onAfterSaveGeneralInfo.bind($root)">
		<pmbb-view>
			<!-- ko with: serviceContract -->
			<!-- ko ifnot: window.Crm.Service.Settings.ServiceContract.ServiceContractNoIsEditable == false && window.Crm.Service.Settings.ServiceContract.ServiceContractNoIsGenerated == false && window.Crm.Service.Settings.ServiceContract.ServiceContractNoIsCreateable == false && ContractNo() == null -->
			<pmbb-view-entry params="caption: 'ContractNo'">
				<span id="ContractNo" data-bind="text: Name"></span>
				<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: Name"></span>
			</pmbb-view-entry>
			<!-- /ko -->
			<pmbb-view-entry params="caption: 'ServiceContractType'">
				<span data-bind="if: ContractTypeKey, lookupValue: ContractTypeKey, lookups: $root.lookups.serviceContractTypes"></span>
				<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: ContractTypeKey"></span>
			</pmbb-view-entry>
			<pmbb-view-entry params="caption: 'ExternalReference'">
				<span id="external-reference" data-bind="text: ExternalReference"></span>
				<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: ExternalReference"></span>
			</pmbb-view-entry>
			<pmbb-view-entry params="caption: 'ResponsibleUser'">
				<!-- ko if: ResponsibleUserUser -->
				<span data-bind="text: Helper.User.getDisplayName(ResponsibleUserUser)"></span>
				<!-- /ko -->
				<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: ResponsibleUserUser"></span>
			</pmbb-view-entry>
			<pmbb-view-entry params="caption: 'ValidFrom'">
				<span data-bind="if: ValidFrom, dateText: ValidFrom"></span>
				<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: ValidFrom"></span>
			</pmbb-view-entry>
			<pmbb-view-entry params="caption: 'ValidTo'">
				<span data-bind="if: ValidTo, dateText: ValidTo"></span>
				<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: ValidTo"></span>
			</pmbb-view-entry>
			<!-- ko requiredPermission: { name: 'ServiceObject', group: 'WebAPI' } -->
			<pmbb-view-entry params="caption: 'ServiceObject'">
				<!-- ko with: ServiceObject -->
				<!-- ko requiredPermission: { name: 'Read', group: 'ServiceObject' } --> 
				<a href="#/Crm.Service/ServiceObject/DetailsTemplate/{{Id}}">
					<span data-bind="text: Helper.ServiceObject.getDisplayName($data)"></span>
				</a>
				<!-- /ko -->
				<!-- ko noRequiredPermission: { name: 'Read', group: 'ServiceObject' } -->
				<span data-bind="text: Helper.ServiceObject.getDisplayName($data)"></span>
				<!-- /ko -->
				<!-- /ko -->
				<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: ServiceObject"></span>
			</pmbb-view-entry>
			<!-- /ko -->
			<pmbb-view-entry params="caption: 'BusinessPartner'">
				<!-- ko with: ParentCompany -->
				<!-- ko requiredPermission: { name: 'Read', group: 'Company' } --> 
				<a href="#/Crm/Company/DetailsTemplate/{{Id}}">
					<span data-bind="text: Helper.Company.getDisplayName($data)"></span>
				</a>
				<!-- /ko -->
				<!-- ko noRequiredPermission: { name: 'Read', group: 'Company' } -->
				<span data-bind="text: Helper.Company.getDisplayName($data)"></span>
				<!-- /ko -->
				<!-- /ko -->
			</pmbb-view-entry>
			<pmbb-view-entry params="caption: 'Payer'">
				<!-- ko with: Payer -->
				<!-- ko requiredPermission: { name: 'Read', group: 'Company' } --> 
				<a href="#/Crm/Company/DetailsTemplate/{{Id}}">
					<span data-bind="text: Helper.Company.getDisplayName($data)"></span>
				</a>
				<!-- /ko -->
				<!-- ko noRequiredPermission: { name: 'Read', group: 'Company' } --> 
				<span data-bind="text: Helper.Company.getDisplayName($data)"></span>
				<!-- /ko -->
				<!-- /ko -->
				<address data-bind="visible: PayerAddress" class="m-b-0">
					<address-block params="address: PayerAddress, lookups: $root.lookups, showNames: false"></address-block>
				</address>
				<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: Payer"></span>
			</pmbb-view-entry>
			<pmbb-view-entry params="caption: 'InvoiceRecipient'">
				<!-- ko with: InvoiceRecipient -->
				<!-- ko requiredPermission: { name: 'Read', group: 'Company' } --> 
				<a href="#/Crm/Company/DetailsTemplate/{{Id}}">
					<span data-bind="text: Helper.Company.getDisplayName($data)"></span>
				</a>
				<!-- /ko -->
				<!-- ko noRequiredPermission: { name: 'Read', group: 'Company' } --> 
				<span data-bind="text: Helper.Company.getDisplayName($data)"></span>
				<!-- /ko -->
				<!-- /ko -->
				<address data-bind="visible: InvoiceAddress" class="m-b-0">
					<address-block params="address: InvoiceAddress, lookups: $root.lookups, showNames: false"></address-block>
				</address>
				<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: InvoiceRecipient"></span>
			</pmbb-view-entry>
			<pmbb-view-entry params="caption: 'LastActivity'">
				<span data-bind="dateText: LastActivity"></span>
				<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: LastActivity"></span>
			</pmbb-view-entry>
			@Html.PluginRenderActions("ServiceContractDetailsGeneralView")
			<!-- /ko -->
		</pmbb-view>
		<pmbb-edit>
			<!-- ko with: serviceContract -->
			<!-- ko ifnot: (window.Crm.Service.Settings.ServiceContract.ServiceContractNoIsEditable == false && window.Crm.Service.Settings.ServiceContract.ServiceContractNoIsGenerated == false && window.Crm.Service.Settings.ServiceContract.ServiceContractNoIsCreateable == false && ContractNo() == null) || (window.Helper.Offline !== undefined ? window.Helper.Offline.status=='offline' : false) -->
			<pmbb-edit-entry params="caption: 'ContractNo', validationElement: Name">
				<input type="text" id="ContractNo" class="form-control" data-bind="value: Name, disable: window.Crm.Service.Settings.ServiceContract.ServiceContractNoIsEditable == false">
			</pmbb-edit-entry>
			<!-- /ko -->
			<pmbb-edit-entry params="caption: 'ServiceContractType', validationElement: ContractTypeKey">
				<select class="form-control" data-bind="select2autocompleter: { data: ContractTypeKey, autocompleteOptions: Helper.Lookup.getAutocompleteOptions('CrmService_ServiceContractType'), placeholder: $parent.placeholder}">
				</select>
			</pmbb-edit-entry>
			<pmbb-edit-entry params="caption: 'ExternalReference', validationElement: ExternalReference">
				<input type="text" class="form-control" data-bind="value: ExternalReference">
			</pmbb-edit-entry>
			<pmbb-edit-entry params="caption: 'ResponsibleUser', validationElement: ResponsibleUser">
				<select class="form-control" data-bind="select2autocompleter: { data: ResponsibleUser, autocompleteOptions: { orderBy: ['LastName'], table: 'Main_User', mapDisplayObject: Helper.User.mapForSelect2Display, placeholder: $parent.placeholder, customFilter: function (query) { return query.filter(function (it) { return it.Discharged === false; }); }, onSelect: function(value) { ResponsibleUserUser(value ? value.asKoObservable() : null); } } }">
				</select>
			</pmbb-edit-entry>
			<pmbb-edit-entry params="caption: 'ValidFrom', validationElement: ValidFrom">
				<input type="text" class="form-control date-picker" data-bind="datePicker: ValidFrom" placeholder="@(Html.Localize("ClickHere"))">
			</pmbb-edit-entry>
			<pmbb-edit-entry params="caption: 'ValidTo', validationElement: ValidTo">
				<input type="text" class="form-control date-picker" data-bind="datePicker: ValidTo" placeholder="@(Html.Localize("ClickHere"))">
			</pmbb-edit-entry>
			<!-- ko requiredPermission: { name: 'ServiceObject', group: 'WebAPI' } -->
			<pmbb-edit-entry params="caption: 'ServiceObject', validationElement: ServiceObjectId">
				<select class="form-control" data-bind="select2autocompleter: { data: ServiceObjectId, autocompleteOptions: { orderBy: ['ObjectNo'], table: 'CrmService_ServiceObject', mapDisplayObject: Helper.ServiceObject.mapForSelect2Display, placeholder: $parent.placeholder, onSelect: function(value) { ServiceObject(value ? value.asKoObservable() : null); } } }">
				</select>
			</pmbb-edit-entry>
			<!-- /ko -->
			<pmbb-edit-entry params="caption: 'BusinessPartner', validationElement: ParentId">
				<select class="form-control" data-bind="select2autocompleter: { data: ParentId, autocompleteOptions: { orderBy: ['Name'], table: 'Crm_Company', mapDisplayObject: Helper.Company.mapForSelect2Display, placeholder: $parent.placeholder, customFilter: Helper.Company.getSelect2Filter.bind($data), onSelect: function(value) { ParentCompany(value ? value.asKoObservable() : null); } } }">
				</select>
			</pmbb-edit-entry>
			<pmbb-edit-entry params="caption: 'Payer', validationElement: PayerId">
				<select class="form-control" data-bind="select2autocompleter: { data: PayerId, autocompleteOptions: { orderBy: ['Name'], table: 'Crm_Company', mapDisplayObject: Helper.Company.mapForSelect2Display, placeholder: $parent.placeholder, customFilter: Helper.Company.getSelect2Filter.bind($data), onSelect: x => $root.onSelectPayer($parentContext.$parent, x) } }">
				</select>
			</pmbb-edit-entry>
			<pmbb-edit-entry params="caption: 'Address', validationElement: PayerAddressId">
				<select class="form-control" data-bind="select2autocompleter: { data: PayerAddressId, autocompleteOptions: { orderBy: ['Name1', 'Name2', 'Name3', 'ZipCode', 'City', 'Street'], table: 'Crm_Address', customFilter: (query, term) => $root.payerAddressFilter($parentContext.$parent, query, term), mapDisplayObject: Helper.Address.mapForSelect2Display, placeholder: $parent.placeholder, onSelect: function(value) { PayerAddress(value ? value.asKoObservable() : null); } } }, disable: !PayerId()">
				</select>
			</pmbb-edit-entry>
			<pmbb-edit-entry params="caption: 'InvoiceRecipient', validationElement: InvoiceRecipientId">
				<select class="form-control" data-bind="select2autocompleter: { data: InvoiceRecipientId, autocompleteOptions: { orderBy: ['Name'], table: 'Crm_Company', mapDisplayObject: Helper.Company.mapForSelect2Display, customFilter: Helper.Company.getSelect2Filter.bind($data), onSelect: x => $root.onSelectInvoiceRecipient($parentContext.$parent, x), placeholder: $parent.placeholder } }">
				</select>
			</pmbb-edit-entry>
			<pmbb-edit-entry params="caption: 'Address', validationElement: InvoiceAddressKey">
				<select class="form-control" data-bind="select2autocompleter: { data: InvoiceAddressKey, autocompleteOptions: { orderBy: ['Name1', 'Name2', 'Name3', 'ZipCode', 'City', 'Street'], table: 'Crm_Address', customFilter: (query, term) => $root.invoiceAddressFilter($parentContext.$parent, query, term), mapDisplayObject: Helper.Address.mapForSelect2Display, placeholder: $parent.placeholder, onSelect: function(value) { InvoiceAddress(value ? value.asKoObservable() : null); } } }, disable: !InvoiceRecipientId()">
				</select>
			</pmbb-edit-entry>
			@Html.PluginRenderActions("ServiceContractDetailsGeneralEdit")
			<!-- /ko -->
		</pmbb-edit>
	</pmb-block>
	@Html.PluginRenderActions("ServiceContractMaterialDetailsTabExtensions")
	@Html.PluginRenderActions("ContactMaterialDetailsTabExtensions")
</div>

