@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions
@using Crm.Library.Modularization.Extensions

<div class="modal-header card-header ch-alt" data-bind="mProgress: loading">
	<h4 class="modal-title">
		@(Html.Localize("CreatePerson"))
	</h4>
</div>
<div class="modal-body card-body card-padding">
	<form data-bind="with: person">
		<!-- ko if: window.Crm.Settings.PersonNoIsCreateable && (!window.Helper.Offline || window.Helper.Offline.status === 'online') -->
		<form-element params="value: PersonNo, caption: 'PersonNo', type: 'text'"></form-element>
		<!-- /ko -->
		<form-element id="SalutationKey" params="value: SalutationKey, caption: 'Salutation', type: 'select'">
			<select name="SalutationKey" class="form-control" data-bind="select2autocompleter: { data: value, autocompleteOptions: Helper.Lookup.getAutocompleteOptions('Crm_Salutation'), placeholder: placeholder}">
			</select>
		</form-element>
		<form-element id="TitleKey" params="value: TitleKey, caption: 'Title', type: 'select'">
			<select name="TitleKey" class="form-control" data-bind="select2autocompleter: { data: value, autocompleteOptions: Helper.Lookup.getAutocompleteOptions('Crm_Title'), placeholder: placeholder}">
			</select>
		</form-element>
		<form-element params="value: Firstname, caption: 'Firstname', type: 'text'"></form-element>
		<form-element params="value: Surname, caption: 'Surname', type: 'text'"></form-element>
		<!-- ko if: $root.isThereAnyCompany -->
		<form-element id="ParentId" params="value: ParentId, caption: 'ParentName'">
			<select name="ParentId" class="form-control" data-bind="select2autocompleter: { data: $parent.ParentId, autocompleteOptions: $root.getParentAutocompleteOptions.call($root), placeholder: placeholder }, disable: true">
			</select>
		</form-element>
		<!-- /ko -->
		<form-element id="LanguageKey" params="value: LanguageKey, caption: 'Language', type: 'select'">
			<select name="LanguageKey" class="form-control" data-bind="select2autocompleter: { data: value, autocompleteOptions: Helper.Lookup.getAutocompleteOptions('Main_Language'), placeholder: placeholder}">
			</select>
		</form-element>
		<form-element params="value: Mima, caption: 'Mima', type: 'checkbox'"></form-element>
		<div class="m-t-25 form-group" data-bind="css: { 'm-b-15': $root.parent(), 'm-b-5': !$root.parent() }, validationElement: StandardAddressKey">
			<div class="fg-line">
				<label class="p-t-25 m-b-25 c-black b-0 f-500 f-14">
					<span>@(Html.Localize("Addressinformation"))</span>
					<!-- ko with: StandardAddressKey.rules -->
					<span data-bind="if: $data.some(function(x){ return x.rule.indexOf('required') >= 0; })">*</span>
					<!-- /ko -->
				</label>
			</div>
			<div data-bind="ifnot: $root.parent"><small class="help-block">@(Html.Localize("AddressSelectCompany"))</small></div>
			<small class="help-block" data-bind="validationMessage: StandardAddressKey"></small>
		</div>
		<!-- ko with: $root.parent -->
		<address-editor params="companyId: $data.Id(), contactId: $parent.Id(), onLoad: $root.onLoadAddressEditor.bind($root), editMode: 'person', person: $parent"></address-editor>
		<!-- /ko -->
	</form>
</div>
<div class="modal-footer card-header ch-alt p-15">
	<button type="button" class="btn btn-lg btn-default f-13 waves-effect" data-bind="click: cancel" data-dismiss="modal" data-bind="disable: loading">
		@(Html.Localize("Cancel"))
	</button>
	<button type="button" class="btn btn-lg btn-primary f-13 waves-effect" data-bind="click: submit, disable: loading">
		@(Html.Localize("Create"))
	</button>
</div>
