@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions
@using Crm.Library.Modularization.Extensions

<collapsible-block params="id: 'extended-data'" class="morph">
	<collapsible-block-header params="customCss: 'bg-white', swapIcons: true">
		<span>@(Html.Localize("ExtendedData"))</span>
	</collapsible-block-header>
	<collapsible-block-content params="context: { serviceCase: $root.serviceCase }">
		<!-- ko with: serviceCase -->
		@Html.PluginRenderActions("ServiceCaseCreateFormExtendedDataTop")
		<div class="flex-input-row">
			<div>
				<div class="form-group animated fadeIn" data-bind="visible: !$root.customErrorMessage()">
					<form-element params="value: ErrorCodeKey, caption: 'ErrorMessage', type: 'select'">
						<select class="form-control" data-bind="select2autocompleter: { data: value, default: Helper.Lookup.getLookupValue($root.lookups.serviceErrorMessages, value), autocompleteOptions: Helper.Service.getErrorCodeAutocompleteOptions() }">
						</select>
					</form-element>
					<div class="m-b-15" style="margin-top: -10px">
						<a href="#" data-bind="click: $root.toggleCustomErrorMessage">
							@(Html.Localize("CustomErrorMessage"))
						</a>
					</div>
				</div>
				<div class="form-group animated fadeIn" data-bind="visible: $root.customErrorMessage">
					<form-element params="value: ErrorMessage, caption: 'ErrorMessage', type: 'text'"></form-element>
					<!-- ko if: $root.lookups.serviceErrorMessages.$array.length > 0 -->
					<div class="m-b-15" style="margin-top: -10px">
						@(Html.Localize("or"))
						<a href="#" data-bind="click: $root.toggleCustomErrorMessage">
							@(Html.Localize("ErrorMessageSelection"))
						</a>
					</div>
					<!-- /ko -->
				</div>
			</div>
		</div>
		<div class="flex-input-row">
			<div>
				<form-element id="StatusKey" params="value: StatusKey, caption: 'ServiceCaseStatus', type: 'select2'">
					<select class="form-control" data-bind="select2autocompleter: { data: value, default: Helper.Lookup.getLookupValue($root.lookups.serviceCaseStatuses, value), autocompleteOptions: Helper.Lookup.getAutocompleteOptions('CrmService_ServiceCaseStatus'), placeholder: placeholder }">
					</select>
				</form-element>
			</div>
			<div>
				<form-element id="PriorityKey" params="value: PriorityKey, caption: 'Priority', type: 'select2'">
					<select class="form-control" data-bind="select2autocompleter: { data: value, default: Helper.Lookup.getLookupValue($root.lookups.servicePriorities, value), autocompleteOptions: Helper.Lookup.getAutocompleteOptions('CrmService_ServicePriority'), placeholder: placeholder }">
					</select>
				</form-element>
			</div>
			<div>
				<form-element id="CategoryKey" params="value: CategoryKey, caption: 'ServiceCaseCategory', type: 'select2'">
					<select class="form-control" data-bind="select2autocompleter: { data: value, default: Helper.Lookup.getLookupValue($root.lookups.serviceCaseCategories, value), autocompleteOptions: Helper.Lookup.getAutocompleteOptions('CrmService_ServiceCaseCategory'), placeholder: placeholder }">
					</select>
				</form-element>
			</div>
		</div>
		<div class="flex-input-row">
			<div>
				<form-element id="UserGroupKey" params="value: UserGroupKey, caption: 'Usergroup', type: 'select2'">
					<select class="form-control" data-bind="select2autocompleter: { data: value, autocompleteOptions: { orderBy: ['Name'], table: 'Main_Usergroup', customFilter: Helper.User.filterUsergroupQuery, mapDisplayObject: Helper.User.mapUsergroupForSelect2Display, placeholder: placeholder } }">
					</select>
				</form-element>
			</div>
			<div>
				<form-element id="ResponsibleUser" params="value: ResponsibleUser, caption: 'ResponsibleUser', type: 'select2'">
					<select class="form-control" data-bind="select2autocompleter: { data: value, autocompleteOptions: { orderBy: ['LastName'], table: 'Main_User', mapDisplayObject: Helper.User.mapForSelect2Display, customFilter: (query, term) => window.Helper.User.filterUserQuery(query, term, $parent.UserGroupKey()), placeholder: placeholder } }">
					</select>
				</form-element>
			</div>
		</div>
		@Html.PluginRenderActions("ServiceCaseCreateFormExtendedDataBottom")
		<!-- /ko -->
	</collapsible-block-content>
</collapsible-block>
<div class="top-separator"></div>