@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Modularization.Extensions
@using Crm.Library.Globalization.Extensions

<div role="tabpanel" class="tab-pane animated fadeIn" id="tab-jobs" data-bind="with: tabs()['tab-jobs']">
	<div class="content-header placeholder">
		<div class="lv-header-alt generic-list-header main-section listview">
			<div class="card-header d-flex flex-auto">
				<div class="caption d-flex flex-auto">
					<h2>&nbsp;</h2>
				</div>
				<ul class="top-menu section-menu actions generic-list-actions">
					@Html.PluginRenderActions("ServiceOrderTemplateDetailsJobsTabTopMenu")
					<li data-bind="visible: true, tooltip: true" data-placement="bottom">
						<a id="open-generic-list-filter" data-trigger="#right-nav" href="#" data-route="@("Crm.Service/ServiceOrderTimeList/FilterTemplate")">
							<i class="tm-icon zmdi zmdi-filter-list"></i>
							<div class="small">@(Html.Localize("Filter"))</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<floating-action-button params="position: 'top', showWhenDropdownIsToggled: true">
			@Html.PluginRenderActions("ServiceOrderTemplateDetailsJobsTabPrimaryAction")
		</floating-action-button>
	</div>
	<empty-state-box params="mood: 'sad', title: 'NoServiceOrderTimes', text: 'NoServiceOrderTimeContainsYet'" data-bind="visible: items().length === 0 && !isFiltered()">
	</empty-state-box>
	<div class="generic-list listview lv-bordered">
		<div class="lv-body">
			<div data-bind="foreach: items">
				 @await Html.PartialAsync("../ServiceOrderTimeList/MaterialItemTemplate") 
			</div>
			<!-- ko if: items().length === 0 && isFiltered() -->
			<div id="generic-list-empty-state" class="lv-item media">
				<div class="row media-body">
					<div class="col-xs-12">
						<small class="lv-small">@(Html.Localize("NoRecordsForSearchCriteria"))</small>
					</div>
				</div>
			</div>
			<!-- /ko -->
		</div>
	</div>
	 @await Html.PartialAsync("Material/GenericListPreloader") 
</div>