@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Modularization.Extensions
@using Crm.Library.Globalization.Extensions
@using Crm.Service.Model

<ul class="top-menu">
	@Html.PluginRenderActions("InstallationDetailsTopMenu")
	@Html.PluginRenderActions("ContactDetailsTopMenu")
</ul>

<div class="container installation-detail">
	<div id="profile-main" class="divided-detail">
		<div class="pm-overview c-overflow hide-print card w-100" tabindex="4">
			<block>
				<block-header>
					<div>
						<div data-bind="text: $root.title"></div>
						<div class="f-13 m-t-5">
							<span data-bind="text: $root.additionalTitle"></span>
						</div>
					</div>
				</block-header>
				<block-content>
					<pmb-block id="header-general-pmb" params="context: { installation: $root.installation }, onBeforeSave: $root.onBeforeSaveGeneral, condition: window.AuthorizationManager.isAuthorizedForAction('Installation', 'Edit')">
						<pmbb-view>
							<!-- ko with: installation -->
							<div class="field-block">
								<!-- ko with: ServiceObject -->
								<div>
									<dl class="dl-horizontal">
										<dt>@(Html.Localize("ServiceObject"))</dt>
										<dd>
											<a href="#" data-bind="attr: { href: '#/Crm.Service/ServiceObject/DetailsTemplate/' + Id() }">
												<span data-bind="text: Helper.ServiceObject.getDisplayName($data)"></span>
											</a>
										</dd>
									</dl>
								</div>
								<!-- /ko -->
								<div>
									<pmbb-view-entry params="caption: 'InstallationType'">
										<span data-bind="if: InstallationTypeKey, lookupValue: InstallationTypeKey, lookups: $root.lookups.installationTypes"></span>
										<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: InstallationTypeKey"></span>
									</pmbb-view-entry>
								</div>
								<div>
									<pmbb-view-entry params="caption: 'InstallationStatus'">
										<span data-bind="if: StatusKey, lookupValue: StatusKey, lookups: $root.lookups.installationHeadStatuses"></span>
										<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: StatusKey"></span>
									</pmbb-view-entry>
								</div>
								<div>
									<pmbb-view-entry params="caption: 'ResponsibleUser'">
										<!-- ko if: ResponsibleUserUser -->
										<span data-bind="text: Helper.User.getDisplayName(ResponsibleUserUser)"></span>
										<!-- /ko -->
										<span class="c-gray" data-bind="translatedText: 'Unspecified', ifnot: ResponsibleUserUser"></span>
									</pmbb-view-entry>
								</div>
							</div>
							<!-- /ko -->
						</pmbb-view>
						<pmbb-edit>
							<!-- ko with: installation -->
							<div class="field-block">
								<div>
									<pmbb-edit-entry params="caption: 'InstallationType', validationElement: InstallationTypeKey">
										<select class="form-control" data-bind="select2autocompleter: { data: InstallationTypeKey, autocompleteOptions: Helper.Lookup.getAutocompleteOptions('CrmService_InstallationType'), placeholder: $parent.placeholder }">
										</select>
									</pmbb-edit-entry>
								</div>
								<div>
									<pmbb-edit-entry params="caption: 'InstallationStatus', validationElement: StatusKey">
										<select class="form-control" data-bind="select2autocompleter: { data: StatusKey, autocompleteOptions: Helper.Lookup.getAutocompleteOptions('CrmService_InstallationHeadStatus'), placeholder: $parent.placeholder }">
										</select>
									</pmbb-edit-entry>
								</div>
								<div>
									<pmbb-edit-entry params="caption: 'ResponsibleUser', validationElement: ResponsibleUser">
										<select class="form-control" data-bind="select2autocompleter: { data: ResponsibleUser, autocompleteOptions: { orderBy: ['LastName'], table: 'Main_User', mapDisplayObject: Helper.User.mapForSelect2Display, customFilter: Helper.User.filterUserQuery, onSelect: user => $data.ResponsibleUserUser(user), placeholder: $parent.placeholder } }">
										</select>
									</pmbb-edit-entry>
								</div>
							</div>
							<!-- /ko -->
						</pmbb-edit>
					</pmb-block>
				</block-content>
			</block>
			<div class="top-separator"></div>
			<collapsible-block params="id: 'additional-head-info', collapsed: true">
				<collapsible-block-header params="customCss: 'bg-white', swapIcons: true">
					<span class="f-15">@(Html.Localize("AdditionalInformation"))</span>
				</collapsible-block-header>
				<collapsible-block-content>
					<div class="flex-block">
						<!-- ko with: $root -->
						@Html.PluginRenderActions("MaterialInstallationHeaderExtensions")
						@Html.PluginRenderActions("MaterialContactHeaderExtensions")
						<!-- /ko -->
					</div>
				</collapsible-block-content>
			</collapsible-block>
		</div>
		<div class="row">
			<div class="col-lg-8">
				<div class="card detail-main-block">
					<div class="pm-overview">
						<ul class="tab-nav morph" role="tablist" tabindex="1">
							@Html.PluginRenderActions("InstallationDetailsMaterialTabHeader")
						</ul>
					</div>
					<div class="pm-body clearfix">
						<div class="tab-content">
							@Html.PluginRenderActions("InstallationDetailsMaterialTab")
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<!-- ko requiredPermission: { name: 'TasksBlock', group: 'Installation' } -->
				<div class="row">
					<div class="col-lg-12">
						<div class="card detail-side-block">
							<task-list-block params="parentViewModel: $root">
							</task-list-block>
						</div>
					</div>
				</div>
				<!-- /ko -->
				<div class="row">
					<div class="col-lg-12 col-md-6">
						<div class="card detail-side-block">
							<collapsible-block params="id: 'tags'">
								<collapsible-block-header params="icon: 'tag'">
									<span>@(Html.Localize("Tags"))</span>
								</collapsible-block-header>
								<collapsible-block-content>
									<!-- ko with: $root -->
									@await Html.PartialAsync("ContactDetailsTagBlock", typeof(Installation))
									<!-- /ko -->
								</collapsible-block-content>
							</collapsible-block>
						</div>
					</div>
					<div class="col-lg-12 col-md-6">
						<div class="card detail-side-block">
							<collapsible-block params="id: 'background-info'">
								<collapsible-block-header params="icon: 'equalizer'">
									<span>@(Html.Localize("BackgroundInfo"))</span>
								</collapsible-block-header>
								<collapsible-block-content>
									<pmb-block params="context: { installation: $root.installation }, condition: window.AuthorizationManager.isAuthorizedForAction('Installation', 'Edit')">
										<pmbb-view>
											<!-- ko with: installation -->
											<span data-bind="text: BackgroundInfo"></span>
											<span data-bind="translatedText: 'BackgroundInformationEmptyState', ifnot: BackgroundInfo"></span>
											<!-- /ko -->
										</pmbb-view>
										<pmbb-edit>
											<!-- ko with: installation -->
											<div class="fg-line">
												<textarea class="form-control" rows="5" placeholder="@(Html.Localize("BackgroundInfo"))..." data-bind="value: BackgroundInfo"></textarea>
											</div>
											<!-- /ko -->
										</pmbb-edit>
									</pmb-block>
								</collapsible-block-content>
							</collapsible-block>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 col-md-6">
						<div class="card detail-side-block">
							<collapsible-block params="id: 'technician-info'">
								<collapsible-block-header params="icon: 'equalizer'">
									<span>@(Html.Localize("TechnicianInformation"))</span>
								</collapsible-block-header>
								<collapsible-block-content>
									<pmb-block params="context: { installation: $root.installation }, condition: window.AuthorizationManager.isAuthorizedForAction('Installation', 'Edit')">
										<pmbb-view>
											<!-- ko with: installation -->
											<span data-bind="text: TechnicianInformation"></span>
											<span data-bind="translatedText: 'NoTechnicianInformation', ifnot: TechnicianInformation"></span>
											<!-- /ko -->
										</pmbb-view>
										<pmbb-edit>
											<!-- ko with: installation -->
											<div class="fg-line">
												<textarea class="form-control" rows="5" placeholder="@(Html.Localize("TechnicianInformation"))..." data-bind="value: TechnicianInformation"></textarea>
											</div>
											<!-- /ko -->
										</pmbb-edit>
									</pmb-block>
								</collapsible-block-content>
							</collapsible-block>
						</div>
					</div>
					<div class="col-lg-12 col-md-6">
						<div class="card detail-side-block">
							<collapsible-block params="id: 'contact-info'">
								<collapsible-block-header params="icon: 'phone'">
									<span>@(Html.Localize("ContactInformation"))</span>
								</collapsible-block-header>
								<collapsible-block-content>
									<pmb-block id="contact-information-pmb" params="context: { installation: $root.installation }, condition: window.AuthorizationManager.isAuthorizedForAction('Installation', 'Edit'), onBeforeSave: $root.onBeforeSaveContactInfo.bind($root), onSave: $root.onSaveContactInfo.bind($root), onAfterSave: $root.onAfterSaveContactInfo.bind($root), onCancel: $root.onCancelContactInfo.bind($root)">
										<pmbb-view>
											<!-- ko with: installation -->
											<pmbb-view-entry params="caption: 'InstallationParentName'">
												<!-- ko with: Company -->
												<!-- ko requiredPermission: { name: 'Read', group: 'Company' } -->
												<a href="#" data-bind="attr: { href: '#/Crm/Company/DetailsTemplate/' + Id() }">
													<span data-bind="text: Helper.Company.getDisplayName($data)"></span>
												</a>
												<!-- /ko -->
												<!-- ko noRequiredPermission: { name: 'Read', group: 'Company' } -->
												<span data-bind="text: Helper.Company.getDisplayName($data)"></span>
												<!-- /ko -->
												<!-- /ko -->
											</pmbb-view-entry>
											<pmbb-view-entry params="caption: 'InstallationContact'">
												<address>
													<address-block params="address: Address, lookups: $root.lookups, showCommunicationData: true"></address-block>
												</address>
											</pmbb-view-entry>
											<!-- ko if: Person() -->
											<pmbb-view-entry id="contact-person" params="caption: 'ContactPerson'">
												<!-- ko with: Person -->
												<!-- ko requiredPermission: { name: 'Read', group: 'Person' } -->
												<a href="#" data-bind="attr: { href: '#/Crm/Person/DetailsTemplate/' + Id() }">
													<span data-bind="text: Helper.Person.getDisplayName($data)"></span>
												</a>
												<!-- /ko -->
												<!-- ko noRequiredPermission: { name: 'Read', group: 'Person' } -->
												<span data-bind="text: Helper.Person.getDisplayName($data)"></span>
												<!-- /ko -->
												<!-- /ko -->
											</pmbb-view-entry>
											<!-- /ko -->
											@Html.PluginRenderActions("InstallationDetailsContactInformationView")
											<!-- /ko -->
										</pmbb-view>
										<pmbb-edit>
											<!-- ko with: installation -->
											<pmbb-edit-entry params="caption: 'InstallationContact', validationElement: LocationContactId">
												<select class="form-control" data-bind="select2autocompleter: { data: LocationContactId, autocompleteOptions: { orderBy: ['Name'], table: 'Crm_Company', mapDisplayObject: Helper.Company.mapForSelect2Display, customFilter: Helper.Company.getSelect2Filter.bind($data), onSelect: x => $root.onLocationContactSelect($data, x), placeholder: $parent.placeholder } }">
												</select>
											</pmbb-edit-entry>
											<!-- ko ifnot: $root.customAddress() -->
											<pmbb-edit-entry params="caption: 'Address', validationElement: LocationAddressKey">
												<div class="form-group">
													<select class="form-control" data-bind="select2autocompleter: { data: LocationAddressKey, autocompleteOptions: { orderBy: ['Name1', 'Name2', 'Name3', 'ZipCode', 'City', 'Street'], table: 'Crm_Address', customFilter: (query, term) => $root.locationAddressFilter(query, term, $data), mapDisplayObject: Helper.Address.mapForSelect2Display, onSelect: x => $root.onLocationAddressSelect($data, x), placeholder: $parent.placeholder } }, disable: LocationContactId() === null">
													</select>
												</div>
												<div class="pull-right">
													<a id="CustomAddressLink" href="#" data-bind="click: $root.toggleCustomAddress.bind($root)">
														@(Html.Localize("EnterCustomAddress"))
													</a>
												</div>
											</pmbb-edit-entry>
											<!-- /ko -->
											<!-- ko if: $root.customAddress() -->
											<pmbb-edit-entry params="caption: 'Address'">
												<address-editor params="contactId: LocationContactId(), onLoad: $root.onLoadAddressEditor.bind($root, $parentContext.$parent), hideContactInformation: true"></address-editor>
												<div class="pull-right">
													@(Html.Localize("or"))
													<a id="AddressSelectorLink" href="#" data-bind="click: $root.toggleCustomAddress.bind($root)">
														@(Html.Localize("AddressSelection"))
													</a>
												</div>
											</pmbb-edit-entry>
											<!-- /ko -->
											<pmbb-edit-entry id="LocationPersonId" params="caption: 'ContactPerson', validationElement: LocationPersonId">
												<select class="form-control" data-bind="select2autocompleter: { data: LocationPersonId, autocompleteOptions: { orderBy: ['Surname', 'Firstname'], table: 'Crm_Person', customFilter: (query, term) => $root.contactPersonFilter(query, term, $data), mapDisplayObject: Helper.Person.mapForSelect2Display, onSelect: x => $root.onLocationPersonSelect($data, x), placeholder: $parent.placeholder } }, disable: LocationContactId() === null">
												</select>
											</pmbb-edit-entry>
											@Html.PluginRenderActions("InstallationDetailsContactInformationEdit")
											<!-- /ko -->
										</pmbb-edit>
									</pmb-block>
								</collapsible-block-content>
							</collapsible-block>
						</div>
					</div>
				</div>
				@Html.PluginRenderActions("MaterialInstallationSidebarExtensions")
				@Html.PluginRenderActions("MaterialContactSidebarExtensions")
			</div>
		</div>
	</div>
</div>