@inherits Crm.Library.Modularization.CrmViewUserControl<Main.ViewModels.CrmModel>
@using Crm.Library.Globalization.Extensions
@using Crm.Library.Modularization.Extensions

<div role="tabpanel" class="tab-pane" id="tab-relationships" data-bind="with: tabs()['tab-relationships']">
	<div class="content-header placeholder">
		<div class="lv-header-alt generic-list-header main-section listview">
			<div class="card-header d-flex flex-auto">
				<div class="caption d-flex flex-auto">
					<h2>&nbsp;</h2>
				</div>
			</div>
		</div>
		<floating-action-button params="position: 'top', showWhenDropdownIsToggled: true">
			<!-- ko requiredPermission: { name: 'EditAddressRelationship', group: 'Installation' } -->
			<li data-bind="with: $root">
				<a id="add-installation-address-relationship" href="#" data-mfb-label="@(Html.Localize("AddAddressRelationship"))" data-route="Crm.Service/InstallationAddressRelationship/EditTemplate/" data-toggle="modal" data-target="#modal">
					<i class="zmdi zmdi-globe"></i>
				</a>
			</li>
			<!-- /ko -->
			<!-- ko requiredPermission: { name: 'CreateInstallationCompanyRelationship', group: 'Installation' } -->
			<li data-bind="with: $root">
				<a id="add-installation-company-relationship" href="#" data-mfb-label="@(Html.Localize("AddCompanyRelationship"))" data-route="Crm.Service/InstallationCompanyRelationship/EditTemplate/" data-toggle="modal" data-target="#modal">
					<i class="zmdi zmdi-accounts-alt"></i>
				</a>
			</li>
			<!-- /ko -->
			<!-- ko requiredPermission: { name: 'CreateInstallationPersonRelationship', group: 'Installation' } -->
			<li data-bind="with: $root">
				<a id="add-installation-person-relationship" href="#" data-mfb-label="@(Html.Localize("AddPersonRelationship"))" data-route="Crm.Service/InstallationPersonRelationship/EditTemplate/" data-toggle="modal" data-target="#modal">
					<i class="zmdi zmdi-account"></i>
				</a>
			</li>
			<!-- /ko -->
		</floating-action-button>
	</div>
	<!-- ko if: isEmptyStateVisible -->
	<empty-state-box params="mood: 'sad', title: 'RelationshipsEmptyStateTitle', text: 'NoRelationshipInfo'"></empty-state-box>
	<!-- /ko -->
	@Html.PluginRenderActions("MaterialGenericListResourceExtensions")
	
	<!-- ko ifnot: isEmptyStateVisible -->
	<!-- ko if: installationAddressRelationships().length -->
	<div id="generic-list-installation-address-relationships" class="card generic-list">
		<div class="card-header ch-alt">
			<h2>@(Html.Localize("InstallationAddressRelationships"))</h2>
		</div>
		<!-- ko with: installationAddressRelationships.index.RelationshipTypeKey -->
		<div class="listview lv-bordered">
			<div class="lv-body" data-bind="foreach: { data: Object.keys($data).sort(), as: 'typeKey' }">
				<div class="lv-header" data-bind="lookupValue: typeKey, lookups: $root.tabs()['tab-relationships']().lookups.installationAddressRelationshipTypes"></div>
				<!-- ko foreach: $parent[typeKey] -->
				<!-- ko with: { relationship: $data, lookups: $root.tabs()['tab-relationships']().lookups } -->
				<!-- ko with: relationship -->
				@await Html.PartialAsync("../InstallationAddressRelationshipList/MaterialItemTemplate") 
				<!-- /ko -->
				<!-- /ko -->
				<!-- /ko -->
			</div>
		</div>
		<!-- /ko -->
		<!-- ko with: genericInstallationAddressRelationships -->
		@await Html.PartialAsync("MaterialPaging")
		<!-- /ko -->
	</div>
	<!-- /ko -->
	<!-- ko requiredPermission: { name: 'ReadInstallationCompanyRelationship', group: 'Installation' } -->
	<!-- ko if: installationCompanyRelationships().length -->
	<div id="generic-list-installation-company-relationships" class="card generic-list">
		<div class="card-header ch-alt">
			<h2>@(Html.Localize("InstallationCompanyRelationships"))</h2>
		</div>
		<!-- ko with: installationCompanyRelationships.index.RelationshipTypeKey -->
		<div class="listview lv-bordered">
			<div class="lv-body" data-bind="foreach: { data: Object.keys($data).sort(), as: 'typeKey' }">
				<div class="lv-header" data-bind="lookupValue: typeKey, lookups: $root.tabs()['tab-relationships']().lookups.installationCompanyRelationshipTypes"></div>
				<!-- ko foreach: $parent[typeKey] -->
				<!-- ko with: { company: Child, lookups: $root.tabs()['tab-relationships']().lookups } -->
				<!-- ko with: company -->
				@await Html.PartialAsync("../CompanyList/MaterialItemTemplate")
				<!-- /ko -->
				<!-- /ko -->
				<!-- /ko -->
			</div>
		</div>
		<!-- /ko -->
		<!-- ko with: genericInstallationCompanyRelationships -->
		@await Html.PartialAsync("MaterialPaging")
		<!-- /ko -->
	</div>
	<!-- /ko -->
	<!-- /ko -->
	<!-- ko requiredPermission: { name: 'ReadInstallationPersonRelationship', group: 'Installation' } -->
	<!-- ko if: installationPersonRelationships().length -->
	<div id="generic-list-installation-person-relationships" class="card generic-list">
		<div class="card-header ch-alt">
			<h2>@(Html.Localize("InstallationPersonRelationships"))</h2>
		</div>
		<!-- ko with: installationPersonRelationships.index.RelationshipTypeKey -->
		<div class="listview lv-bordered">
			<div class="lv-body" data-bind="foreach: { data: Object.keys($data).sort(), as: 'typeKey' }">
				<div class="lv-header" data-bind="lookupValue: typeKey, lookups: $root.tabs()['tab-relationships']().lookups.installationPersonRelationshipTypes"></div>
				<!-- ko foreach: $parent[typeKey] -->
				<!-- ko with: { person: Child, lookups: $root.tabs()['tab-relationships']().lookups } -->
				<!-- ko with: person -->
				@await Html.PartialAsync("../PersonList/MaterialItemTemplate")
				<!-- /ko -->
				<!-- /ko -->
				<!-- /ko -->
			</div>
		</div>
		<!-- /ko -->
		<!-- ko with: genericInstallationPersonRelationships -->
		@await Html.PartialAsync("MaterialPaging")
		<!-- /ko -->
	</div>
	<!-- /ko -->
	<!-- /ko -->
	<!-- /ko -->
</div>