@using Crm.Library.Globalization.Extensions
@inherits Crm.Library.Modularization.CrmViewUserControl

<template id="MapItemTemplate">
	<div class="lv-title">
		<div style="font-size: 1.75em">
			<div>
				<!-- ko requiredPermission: { name: 'Read', group: 'ServiceOrder' } -->
				<a href="#/Crm.Service/ServiceOrder/DetailsTemplate/{{Id}}">
					<span data-bind="text: OrderNo"></span>
				</a>
				<!-- /ko -->
				<!-- ko noRequiredPermission: { name: 'Read', group: 'ServiceOrder' } -->
				<span data-bind="text: OrderNo"></span>
				<!-- /ko -->
				<small class="c-gray" data-bind="lookupValue: TypeKey, lookups: $parent.lookups.serviceOrderTypes"></small>
			</div>
			<div data-bind="with: ServiceOrderTemplate">
				@(Html.Localize("ServiceOrderTemplate"))
				<!-- ko requiredPermission: { name: 'Read', group: 'ServiceOrderTemplate' } -->
				<a href="#/Crm.Service/ServiceOrderTemplate/Details/{{Id}}">
					<span data-bind="text: Helper.ServiceOrder.getDisplayName($data)"></span>
				</a>
				<!-- /ko -->
				<!-- ko noRequiredPermission: { name: 'Read', group: 'ServiceOrderTemplate' } -->
				<span data-bind="text: Helper.ServiceOrder.getDisplayName($data)"></span>
				<!-- /ko -->
			</div>
			<div data-bind="with: Company">
				@(Html.Localize("Customer"))
				<!-- ko requiredPermission: { name: 'Read', group: 'Company' } -->
				<a href="#/Crm/Company/DetailsTemplate/{{Id}}">
					<span data-bind="text: Helper.Company.getDisplayName($data)"></span>
				</a>
				<!-- /ko -->
				<!-- ko noRequiredPermission: { name: 'Read', group: 'Company' } -->
				<span data-bind="text: Helper.Company.getDisplayName($data)"></span>
				<!-- /ko -->
			</div>
			<div data-bind="with: ServiceObject">
				@(Html.Localize("ServiceObject"))
				<!-- ko requiredPermission: { name: 'Read', group: 'ServiceObject' } -->
				<a href="#/Crm.Service/ServiceObject/DetailsTemplate/{{Id}}">
					<span data-bind="text: Helper.ServiceObject.getDisplayName($data)"></span>
				</a>
				<!-- /ko -->
				<!-- ko noRequiredPermission: { name: 'Read', group: 'ServiceObject' } -->
				<span data-bind="text: Helper.ServiceObject.getDisplayName($data)"></span>
				<!-- /ko -->
			</div>
			<!-- ko if: Installations().length === 1 -->
			<div data-bind="foreach: Installations">
				<!-- ko requiredPermission: { name: 'Read', group: 'Installation' } -->
				<a href="#/Crm.Service/Installation/DetailsTemplate/{{Id}}">
					<span data-bind="text: Helper.Installation.getDisplayName($data)"></span>
				</a>
				<!-- /ko -->
				<!-- ko noRequiredPermission: { name: 'Read', group: 'Installation' } -->
				<span data-bind="text: Helper.Installation.getDisplayName($data)"></span>
				<!-- /ko -->
			</div>
			<!-- /ko -->
			<!-- ko if: Installations().length > 1 -->
			<div class="small">
				<span>@(Html.Localize("for"))</span>
				<!-- ko requiredPermission: { name: 'Read', group: 'Installation' } -->
				<a href="#/Crm.Service/ServiceOrder/DetailsTemplate/{{Id}}?tab=tab-installations">
					<span data-bind="text: Installations().length"></span>
					<span>@(Html.Localize("installations"))</span>
				</a>
				<!-- /ko -->
				<!-- ko noRequiredPermission: { name: 'Read', group: 'Installation' } -->
				<span data-bind="text: Installations().length"></span>
				<span>@(Html.Localize("installations"))</span>
				<!-- /ko -->
			</div>
			<!-- /ko -->
		</div>
		<small class="c-gray">
			<span data-bind="text: Street"></span>
			<br>
			<span data-bind="text: ZipCode"></span>
			<span data-bind="text: City"></span>
			<!-- ko if: CountryKey() || RegionKey()-->
			<br>
			<span data-bind="if: RegionKey, lookupValue: RegionKey, lookups: $root.lookups.regions, suffix: ko.unwrap(CountryKey) ? ',' : '' "></span>
			<span data-bind="if: CountryKey, lookupValue: CountryKey, lookups: $root.lookups.countries"></span>
			<!-- /ko -->
			<!-- ko if: Station() -->
			<br>
			<span data-bind="text: Station().Name()"></span>
			<!-- /ko -->
		</small>
	</div>
</template>