@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Extensions
@using Crm.Library.Globalization.Extensions
@using Crm.Library.Modularization.Extensions

<div class="container">
	<div class="card">
		<form role="form" class="root-form">
			<collapsible-block params="id: 'general'" class="morph">
				<collapsible-block-header params="customCss: 'bg-white', swapIcons: true">
					<span>@(Html.Localize("General"))</span>
				</collapsible-block-header>
				<collapsible-block-content params="context: { serviceOrder: $root.serviceOrder, dispatch: $root.dispatch }">
					<div class="flex-input-row">
						@Html.PluginRenderActions("AdHocServiceOrderCreateFormGeneralTop")
						<!-- ko with: dispatch -->
						<!-- ko if: window.Crm.Service.Settings.Dispatch.DispatchNoIsCreateable && (!window.Helper.Offline || window.Helper.Offline.status === 'online') -->
						<div>
							<fieldset data-bind="with: dispatch">
								<legend class="p-t-25 m-b-25 c-black b-0 f-500 f-14">
									@(Html.Localize("Dispatch"))
								</legend>
								<div class="form-group" data-bind="validationElement: DispatchNo" title="">
									<div class="fg-line">
										<label class="fg-label control-label" data-bind="visible: 'DispatchNo'">
											<span>@Html.Localize("DispatchNo")</span>
										</label>
										<input type="text" class="form-control fg-input" data-bind="value: DispatchNo, attr: { maxlength: 20, name: DispatchNo}">
									</div>
									<small class="help-block pre-line" data-bind="validationMessage: DispatchNo" style="display: none;"></small>
								</div>
							</fieldset>
						</div>
						<!-- /ko -->
						<!-- /ko -->
						<!-- ko with: serviceOrder -->
						<!-- ko if : window.Crm.Service.Settings.ServiceOrder.OrderNoIsCreateable && (!window.Helper.Offline || window.Helper.Offline.status === 'online') -->
						<div>
							<form-element id="ServiceOrderNo" params="value: OrderNo, caption: 'OrderNo', type: 'text'">
							</form-element>
						</div>
						<!-- /ko -->
						<div>
							<form-element id="CustomerContactId" params="value: CustomerContactId, caption: 'Customer', type: 'select2'">
								<div class="input-group">
									<select class="form-control" data-bind="select2autocompleter: { data: value, autocompleteOptions: { orderBy: ['Name'], table: 'Crm_Company', joins: ['Addresses'], mapDisplayObject: Helper.Company.mapForSelect2Display, customFilter: $root.customerContactFilter.bind($root), onSelect: $root.onCustomerContactSelect.bind($root), placeholder: placeholder } }">
									</select>
									<!-- ko component: { name: "generic-list-selection", params: { value: value, controller: 'CompanyList', plugin: 'Crm', caption: caption, customFilter: $root.customerContactFilter.bind($root), onSelect: $root.onCustomerContactSelect.bind($root) } } -->
									<!-- /ko -->
								</div>
							</form-element>
						</div>
						<!-- /ko -->
					</div>
					<!-- ko with: serviceOrder -->
					<div class="flex-input-row">
						<!-- ko requiredPermission: { name: 'ServiceObject', group: 'WebAPI' } -->
						<!-- ko if: $root.isThereAnyServiceObject -->
						<div>
							<form-element id="ServiceObjectId" params="value: ServiceObjectId, caption: 'ServiceObject', type: 'select2'">
								<div class="input-group">
									<select class="form-control" data-bind="select2autocompleter: { data: value, autocompleteOptions: { orderBy: ['ObjectNo', 'Name'], joins: ['Addresses'], table: 'CrmService_ServiceObject', joins: ['Addresses'], mapDisplayObject: Helper.ServiceObject.mapForSelect2Display, customFilter: $root.serviceObjectFilter.bind($root), onSelect: $root.onServiceObjectSelect.bind($root), placeholder: placeholder } }">
									</select>
									<!-- ko component: { name: "generic-list-selection", params: { value: value, controller: 'ServiceObjectList', plugin: 'Crm.Service', caption: caption, customFilter: $root.serviceObjectFilter.bind($root), onSelect: $root.onServiceObjectSelect.bind($root) } } -->
									<!-- /ko -->
								</div>
							</form-element>
						</div>
						<!-- /ko -->
						<!-- /ko -->
					</div>
					<!-- ko if: window.Crm.Service.Settings.ServiceContract.MaintenanceOrderGenerationMode === 'OrderPerInstallation' -->
					<div class="flex-input-row">
						<div>
							<form-element id="InstallationId" params="value: InstallationId, caption: 'Installation', type: 'select2'">
								@Html.RenderAction("AutocompleteTemplate", "InstallationList", new { plugin = "Crm.Service" })
								<div class="input-group">
									<select class="form-control" data-bind="select2autocompleter: { data: value, autocompleteOptions: { orderBy: ['InstallationNo', 'Description'], table: 'CrmService_Installation', joins: ['Address', 'Company', 'ServiceObject'], customFilter: $root.installationFilter.bind($root), mapDisplayObject: Helper.Installation.mapForSelect2Display, onSelect: $root.onInstallationSelect.bind($root), templateResultId: 'installation-autocomplete-template', placeholder: placeholder } }">
									</select>
									<!-- ko component: { name: "generic-list-selection", params: { value: value, controller: 'InstallationList', plugin: 'Crm.Service', caption: caption, customFilter: $root.installationFilter.bind($root), onSelect: $root.onInstallationSelect.bind($root) } } -->
									<!-- /ko -->
								</div>
							</form-element>
						</div>
						<!-- ko with: $root.selectedInstallation -->
						<div>
							<form-element id="StatusKey" params="value: StatusKey, caption: 'InstallationStatus', type: 'select2'">
								<select class="form-control" data-bind="select2autocompleter: { data: value, autocompleteOptions: Helper.Lookup.getAutocompleteOptions('CrmService_InstallationHeadStatus'), placeholder: placeholder }">
								</select>
							</form-element>
						</div>
						<!-- /ko -->
					</div>
					<!-- /ko -->
					<!-- ko if: window.Crm.Service.Settings.ServiceContract.MaintenanceOrderGenerationMode === 'JobPerInstallation' -->
					<div class="flex-input-row">
						<div>
							<form-element id="Installations" params="value: $root.installationIds, caption: 'Installations', type: 'select2'">
								@Html.RenderAction("AutocompleteTemplate", "InstallationList", new { plugin = "Crm.Service" })
								<select class="form-control" multiple="multiple" data-bind="select2autocompleter: { data: value, autocompleteOptions: { orderBy: ['InstallationNo', 'Description'], table: 'CrmService_Installation', joins: ['Address', 'Company', 'ServiceObject'], customFilter: $root.installationFilter.bind($root), mapDisplayObject: Helper.Installation.mapForSelect2Display, getElementByIdQuery: $root.getInstallationsByIds, onSelect: $root.installations, placeholder: placeholder } }">
								</select>
							</form-element>
						</div>
					</div>
					<!-- /ko -->
					<div class="flex-input-row">
						<!-- ko requiredPermission: { name: 'Index', group: 'ServiceOrderTemplate' } -->
						<div>
							<form-element id="ServiceOrderTemplateId" params="value: ServiceOrderTemplateId, caption: 'ServiceOrderTemplate', type: 'select2'">
								<div class="input-group">
									<select class="form-control" data-bind="select2autocompleter: { data: value, autocompleteOptions: { orderBy: ['OrderNo', 'ErrorMessage'], table: 'CrmService_ServiceOrderHead', mapDisplayObject: Helper.ServiceOrder.mapForSelect2Display, customFilter: Helper.ServiceOrder.getServiceOrderTemplateAutocompleteFilter, onSelect: $root.onServiceOrderTemplateSelect.bind($root), placeholder: placeholder } }">
									</select>
									<!-- ko component: { name: "generic-list-selection", params: { value: value, controller: 'ServiceOrderTemplateList', plugin: 'Crm.Service', caption: caption, customFilter: Helper.ServiceOrder.getServiceOrderTemplateAutocompleteFilter, onSelect: $root.onServiceOrderTemplateSelect.bind($root) } } -->
									<!-- /ko -->
								</div>
							</form-element>
						</div>
						<!-- /ko -->
						<div>
							<form-element id="TypeKey" params="value: TypeKey, caption: 'ServiceOrderType', type: 'select2'">
								<select class="form-control" data-bind="select2autocompleter: { data: value, autocompleteOptions: { customFilter: Helper.ServiceOrder.queryServiceOrderType, table: 'CrmService_ServiceOrderType', mapDisplayObject: Helper.Lookup.mapLookupForSelect2Display, getElementByIdQuery: Helper.Lookup.getLookupByKeyQuery, onSelect: $root.onServiceOrderTypeSelect.bind($root), placeholder: placeholder }}">
								</select>
							</form-element>
						</div>
					</div>
					<!-- /ko -->
					<div class="flex-input-row">
						<!-- ko with: serviceOrder -->
						<div>
							<form-element id="ErrorCodeKey" params="value: ErrorCodeKey, caption: 'ErrorCode', type: 'select'" , data-bind="visible: $root.lookups.errorCodes.$array.length > 0">
								<select name="ErrorCodeKey" class="form-control" data-bind="select2autocompleter: { data: value, default: Helper.Lookup.getLookupValue($root.lookups.errorCodes, value), autocompleteOptions: Helper.Service.getErrorCodeAutocompleteOptions(), placeholder: placeholder }">
								</select>
							</form-element>
						</div>
						<div>
							<form-element params="value: ErrorMessage, caption: 'ErrorMessage', type: 'textarea'"></form-element>
						</div>
						<!-- /ko -->
					</div>
					@Html.PluginRenderActions("AdHocServiceOrderCreateFormGeneralBottom")
				</collapsible-block-content>
			</collapsible-block>

			<div class="top-separator"></div>

			<collapsible-block params="id: 'service-location-address'" class="morph">
				<collapsible-block-header params="customCss: 'bg-white', swapIcons: true">
					<span>@(Html.Localize("ServiceLocationAddress"))</span>
				</collapsible-block-header>
				<collapsible-block-content params="context: { serviceOrder: $root.serviceOrder }">
					@Html.PluginRenderActions("AdHocServiceOrderCreateFormServiceLocationAddressTop")
					<!-- ko with: serviceOrder -->
					<div class="flex-input-row animated fadeIn" data-bind="visible: !$root.customAddress()">
						<div>
							<form-element id="SelectedAddress" params="value: $root.selectedAddress, type: 'select2'">
								<select class="form-control" data-bind="select2autocompleter: { data: value, autocompleteOptions: { customFilter: $root.filterAddresses.bind($root), table: 'Crm_Address', mapDisplayObject: Helper.Address.mapForSelect2Display, templateResult: $root.formatAddress.bind($root), onSelect: $root.selectedAddressOnSelect.bind($root), placeholder: placeholder } }">
								</select>
							</form-element>
							<!-- ko if: !$root.selectedAddress() && !!$root.serviceOrder().Company() -->
							<div class="text-warning m-b-10" style="margin-top: -10px">
								<i class="zmdi zmdi-alert-triangle zmdi-hc-fw"></i>
								<span class="f-500">
									@(Html.Localize("DispatchLocationMissingWarning"))
								</span>
							</div>
							<!-- /ko -->
							<div class="m-b-15" style="margin-top: -10px">
								<a href="#" data-bind="click: $root.toggleCustomAddress">
									@(Html.Localize("EnterCustomAddress"))
								</a>
							</div>
						</div>
					</div>
					<div class="flex-input-row animated fadeIn" data-bind="visible: $root.customAddress">
						<div>
							<form-element params="value: Name1, caption: 'Name1', type: 'text'"></form-element>
							<div class="m-b-15">
								<a href="#" data-bind="click: $root.toggleCoordinate">
									<span>@(Html.Localize("ToggleCoordinate"))</span>
								</a>
							</div>
							<!-- ko ifnot: $root.showCoordinate() -->
							<form-element params="value: Name2, caption: 'Name2', type: 'text'"></form-element>
							<form-element params="value: Name3, caption: 'Name3', type: 'text'"></form-element>
							<form-element params="value: Street, caption: 'Street', type: 'text'"></form-element>
							<div class="row">
								<div class="col-sm-3">
									<form-element params="value: ZipCode, caption: 'ZipCode', type: 'text'"></form-element>
								</div>
								<div class="col-sm-9">
									<form-element params="value: City, caption: 'City', type: 'text'"></form-element>
								</div>
							</div>
							<div class="row">
								<div class="col-sm-6">
									<form-element id="RegionKey" params="value: RegionKey, caption: 'Region', type: 'select2'">
										<select class="form-control" data-bind="select2autocompleter: { data: value, autocompleteOptions: Helper.Lookup.getAutocompleteOptions('Main_Region'), placeholder: placeholder }">
										</select>
									</form-element>
								</div>
								<div class="col-sm-6">
									<form-element id="CountryKey" params="value: CountryKey, caption: 'Country', type: 'select2'">
										<select class="form-control" data-bind="select2autocompleter: { data: value, autocompleteOptions: Helper.Lookup.getAutocompleteOptions('Main_Country'), placeholder: placeholder }">
										</select>
									</form-element>
								</div>
							</div>
							<!-- /ko -->
							<!-- ko if: $root.showCoordinate() -->
							<div class="row">
								<div class="col-sm-6">
									<form-element params="value: $root.latitude, name: 'Latitude', type: 'text', caption:'Latitude'"></form-element>
								</div>
								<div class="col-sm-6">
									<form-element params="value: $root.longitude, name: 'Longitude', type: 'text', caption:'Longitude'"></form-element>
								</div>
							</div>
							<!-- /ko -->
							<div class="m-b-15" style="margin-top: -10px">
								@(Html.Localize("or"))
								<a href="#" data-bind="click: $root.toggleCustomAddress">
									@(Html.Localize("AddressSelection"))
								</a>
							</div>
						</div>
					</div>
					<div class="flex-input-row animated fadeIn" data-bind="visible: !$root.customContactPerson()">
						<div>
							<form-element id="SelectedContactPerson" params="value: $root.selectedContactPerson, caption: 'ServiceLocationResponsibleContact', type: 'select2'">
								<select class="form-control" data-bind="select2autocompleter: { data: value, autocompleteOptions: { orderBy: ['Surname', 'Firstname'], table: 'Crm_Person', joins: ['Emails', 'Phones'], customFilter: $root.contactPersonFilter.bind($root), mapDisplayObject: Helper.Person.mapForSelect2Display, onSelect: $root.selectedContactPersonOnSelect.bind($root), placeholder: placeholder } }">
								</select>
							</form-element>
							<div class="m-b-15" style="margin-top: -10px">
								<a href="#" data-bind="click: $root.toggleCustomContactPerson">
									@(Html.Localize("CustomServiceLocationResponsibleContact"))
								</a>
							</div>
						</div>
					</div>
					<div class="flex-input-row animated fadeIn" data-bind="visible: $root.customContactPerson">
						<div>
							<form-element params="value: ServiceLocationResponsiblePerson, caption: 'Name', type: 'text'"></form-element>
							<form-element params="value: ServiceLocationPhone, caption: 'Phone', type: 'text'"></form-element>
							<form-element params="value: ServiceLocationEmail, caption: 'EmailTitle', type: 'email'"></form-element>
							<div class="m-b-15" style="margin-top: -10px">
								@(Html.Localize("or"))
								<a href="#" data-bind="click: $root.toggleCustomContactPerson">
									@(Html.Localize("ServiceLocationResponsibleContactSelection"))
								</a>
							</div>
						</div>
					</div>
					<div class="flex-input-row">
						<div>
							<form-element id="StationKey" params="value: StationKey, caption: 'Station', type: 'select2'">
								<div class="input-group">
									<select class="form-control" data-bind="select2autocompleter: { data: value, autocompleteOptions: { orderBy: ['Name', 'LegacyId'], table: 'Crm_Station', mapDisplayObject: Helper.Station.mapForSelect2Display, customFilter: Helper.Station.getSelect2Filter, placeholder: placeholder} }">
									</select>
									<!-- ko component: { name: "generic-list-selection", params: { value: value, controller: 'StationList', plugin: 'Crm', caption: caption, customFilter: Helper.Station.getSelect2Filter } } -->
									<!-- /ko -->
								</div>
							</form-element>
						</div>
					</div>
					<!-- /ko -->
					@Html.PluginRenderActions("AdHocServiceOrderCreateFormServiceLocationAddressBottom")
				</collapsible-block-content>
			</collapsible-block>

			<div class="top-separator"></div>

			<collapsible-block params="id: 'dispatching-data'" class="morph">
				<collapsible-block-header params="customCss: 'bg-white', swapIcons: true">
					<span>@(Html.Localize("DispatchingData"))</span>
				</collapsible-block-header>
				<collapsible-block-content params="context: { dispatch: $root.dispatch }">
					@Html.PluginRenderActions("AdHocServiceOrderCreateFormDispatchingDataTop")
					<!-- ko with: dispatch -->
					<div class="flex-input-row">
						<div>
							<form-element params="value: Date, caption: 'Date', type: 'datePicker', datePickerOptions: { pickDateTime: true, timeZone: TimeZone, config: { stepping: parseInt(Crm.Service.Settings.ServiceOrderTimePosting.MinutesInterval) } }"></form-element>
						</div>
						<!-- ko if: Crm.PerDiem.Settings.TimeEntry.ShowTimeZone -->
						<div>
							<form-element params="value: TimeZone, caption: 'TimeZoneName', type: 'select'">
								<select class="form-control" data-bind="select2autocompleter: Helper.Date.getTimeZoneSelect2Options(), value: value"></select>
							</form-element>
						</div>
						<!-- /ko -->
						<div>
							<form-element params="value: EndDate, caption: 'EndDateCaption', type: 'datePicker', datePickerOptions: { pickDateTime: true, config: { stepping: parseInt(Crm.Service.Settings.ServiceOrderTimePosting.MinutesInterval) } }"></form-element>
						</div>
					</div>
					<div class="flex-input-row">
						<div>
							<form-element id="AssignedTechnicianId" params="value: Username, caption: 'AssignedTechnician', type: 'select'">
								<select name="AssignedTechnician" class="form-control" data-bind="select2autocompleter: { data: value, autocompleteOptions: { orderBy: ['LastName'], table: 'Main_User', mapDisplayObject: Helper.User.mapForSelect2Display, customFilter: $root.technicianFilterQuery, onSelect: $root.onAssignedTechnicianSelected.bind($root), placeholder: placeholder }}">
								</select>
							</form-element>
						</div>
					</div>
					<!-- /ko -->
					@Html.PluginRenderActions("AdHocServiceOrderCreateFormDispatchingDataBottom")
				</collapsible-block-content>
			</collapsible-block>

			<div class="top-separator"></div>

			<collapsible-block params="id: 'extended-data', collapsed: true" class="morph">
				<collapsible-block-header params="customCss: 'bg-white', swapIcons: true">
					<span>@(Html.Localize("ExtendedData"))</span>
				</collapsible-block-header>
				<collapsible-block-content params="context: { serviceOrder: $root.serviceOrder, dispatch: $root.dispatch }">
					@Html.PluginRenderActions("AdHocServiceOrderCreateFormExtendedDataTop")
					<!-- ko with: dispatch -->
					<div class="flex-input-row">
						<div>
							<form-element params="value: InfoForTechnician, caption: 'InfoForTechnician', type: 'textarea'"></form-element>
						</div>
					</div>
					<!-- /ko -->
					<!-- ko with: serviceOrder -->
					<div class="flex-input-row">
						<div>
							<form-element id="InitiatorId" params="value: InitiatorId, caption: 'Initiator', type: 'select2'">
								<div class="input-group">
									<select class="form-control" data-bind="select2autocompleter: { data: value, autocompleteOptions: { orderBy: ['Name'], table: 'Crm_Company', joins: ['Addresses'], mapDisplayObject: Helper.Company.mapForSelect2Display, customFilter: $root.initiatorFilter.bind($root), onSelect: $root.onInitiatorSelect.bind($root), placeholder: placeholder } }">
									</select>
									<!-- ko component: { name: "generic-list-selection", params: { value: value, controller: 'CompanyList', plugin: 'Crm', caption: caption, customFilter: $root.initiatorFilter.bind($root), onSelect: $root.onInitiatorSelect.bind($root) } } -->
									<!-- /ko -->
								</div>
							</form-element>
						</div>
						<div>
							<form-element id="InitiatorPersonId" params="value: InitiatorPersonId, caption: 'InitiatorPerson', type: 'select2', disable: !InitiatorId()">
								<select class="form-control" data-bind="select2autocompleter: { data: value, autocompleteOptions: { orderBy: ['Surname', 'Firstname'], table: 'Crm_Person', customFilter: (query, term) => $root.initiatorPersonFilter($root.serviceOrder(), query, term), mapDisplayObject: Helper.Person.mapForSelect2Display, placeholder: placeholder } }, disable: disable">
								</select>
							</form-element>
						</div>
					</div>
					<!-- /ko -->
					<div class="flex-input-row">
						<!-- ko with: serviceOrder -->
						<!-- ko requiredPermission: { name: 'SetInvoicingType', group: 'ServiceOrder' } -->
						<div>
							<form-element id="InvoicingTypeKey" params="value: InvoicingTypeKey, caption: 'InvoicingType', type: 'select2'">
								<select class="form-control" data-bind="select2autocompleter: { data: value, autocompleteOptions: $.extend(Helper.Lookup.getAutocompleteOptions('Main_InvoicingType'), { onSelect: Helper.Service.onInvoicingTypeSelected.bind(null, $parent), placeholder: placeholder })}">
								</select>
							</form-element>
							<div data-bind="if: IsCostLumpSum() || IsMaterialLumpSum() || IsTimeLumpSum()">
								<strong data-bind="translatedText: 'LumpSum'"></strong>:
								<span data-bind="text: Helper.Service.getLumpSumString($data)"></span>
								<hr />
							</div>
						</div>
						<!-- /ko -->
						<!-- /ko -->
						<!-- ko with: dispatch -->
						<div data-bind="visible: $root.lookups.components.$array.length > 0">
							<form-element id="ComponentKey" params="value: ComponentKey, caption: 'Component', type: 'select'">
								<select name="ComponentKey" class="form-control" data-bind="select2autocompleter: { data: value, default: Helper.Lookup.getLookupValue($root.lookups.components, value), autocompleteOptions: Helper.Lookup.getAutocompleteOptions('CrmService_Component'), placeholder: placeholder }">
								</select>
							</form-element>
						</div>
						<!-- /ko -->
					</div>
					@Html.PluginRenderActions("AdHocServiceOrderCreateFormExtendedDataBottom")
				</collapsible-block-content>
			</collapsible-block>
			@Html.PluginRenderActions("AdHocServiceOrderCreateForm")
		</form>
		@await Html.PartialAsync("CreateFormFooter")
	</div>
</div>