@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions

<div class="modal-header card-header ch-alt" data-bind="with: dispatch">
	<button type="button" class="close" data-dismiss="modal" aria-label="@(Html.Localize("Close"))">
		<span aria-hidden="true">&times;</span>
	</button>
	<h4 class="modal-title">@(Html.Localize("CancelDispatch"))</h4>
</div>

<div class="modal-body card-body card-padding">
	<form role="form" action="#" data-bind="with: dispatch">

		<div data-bind="validationElement: StatusKey">
			<label class="fg-label control-label">
				@(Html.Localize("ServiceOrderDispatchStatus")) <span class="required">*</span>
			</label>
			<!-- ko foreach: $root.lookups.serviceOrderDispatchStatuses.$array -->
			<!-- ko if: Key -->
			<div id="service-order-cancellation-statuses" class="radio m-b-15">
				<label>
					<input type="radio" data-bind="checked: $parent.StatusKey, checkedValue: Key">
					<i class="input-helper"></i>
					<span data-bind="text: Value"></span>
				</label>
			</div>
			<!-- /ko -->
			<!-- /ko -->
			<small class="help-block" data-bind="validationMessage: StatusKey"></small>
		</div>

		<!-- ko if: AuthorizationManager.isAuthorizedForAction("WebAPI", "ServiceOrderDispatchCancellationReason") -->
		<div data-bind="validationElement: CancellationReasonKey">
			<label class="fg-label control-label">
				@(Html.Localize("CancellationReason")) <span class="required">*</span>
			</label>
			<!-- ko foreach: $root.lookups.serviceOrderDispatchCancellationReasons.$array -->
			<div id="cancellation-reasons" class="radio m-b-15">
				<label>
					<input type="radio" data-bind="checked: $parent.CancellationReasonKey, checkedValue: Key">
					<i class="input-helper"></i>
					<span data-bind="text: Value"></span>
				</label>
			</div>
			<!-- /ko -->
			<small class="help-block" data-bind="validationMessage: CancellationReasonKey"></small>
		</div>
		<!-- /ko -->

		<!-- ko if: $root.displayRequiredOperationsInput -->
		<form-element params="value: RequiredOperations, caption: 'RequiredOperations', type: 'textarea'"></form-element>
		<!-- /ko -->
		<form-element params="value: CancellationRemark, caption: 'Remark', type: 'textarea'"></form-element>

	</form>
</div>
<div class="modal-footer card-header ch-alt p-15">
	<button
		type="button"
		class="btn btn-lg btn-default f-13 waves-effect"
		data-bind="click: Helper.Database.clearTrackedEntities"
		data-dismiss="modal">
		@(Html.Localize("Cancel"))
	</button>
	<button
		type="button"
		class="btn btn-lg btn-primary f-13 waves-effect"
		data-bind="click: save, disable: loading">
		@(Html.Localize("Save"))
	</button>
</div>