@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions
@using Crm.Library.Modularization.Extensions

<div class="lv-item media" data-bind="infiniteScrollItem: { index: $index(), array: $parent.items }">
	<div class="media-body">
		<div class="row">
			<div class="col-xs-12">
				<div class="lv-title">
					<span id="expenseType" data-bind="lookupValue: ExpenseTypeKey(), lookups: $parent.lookups.expenseTypes, visible: window.Crm.Service.Settings.ServiceOrderExpensePosting.UseArticleAsExpenseType === false"></span>
					<div data-bind="visible: window.Crm.Service.Settings.ServiceOrderExpensePosting.UseArticleAsExpenseType === true">
						<!--ko if: Article-->
						<span class="expenseposting-itemno" data-bind="text: Article().ItemNo"></span> - <span data-bind="text: Article().Description"></span>
						<!-- /ko -->
					</div>
				</div>
				<div>
					<span data-bind="text: Description" style="white-space: pre-line; word-break: break-word;"></span>
				</div>
				<ul class="lv-attrs">
					<li>
						@Html.Localize("Amount"): <span data-bind="money: Amount"></span>&nbsp;<span data-bind="lookupValue: CurrencyKey, lookups: $parent.lookups.currencies"></span>
					</li>
					<li>
						<i class="zmdi zmdi-account-circle"></i>
						<span data-bind="text: Helper.User.getDisplayName(ResponsibleUserObject)"></span>
					</li>
					<!-- ko if: FileResource -->
					<li>
						<!-- ko ifnot: window.client.userAgent() === 'Android' && FileResource().ContentType().indexOf('image/') === -1 -->
						<span>@Html.Localize("File"): <a data-bind="text: FileResource().Filename, fileResource: FileResource" target="_blank"></a></span>
						<!-- /ko -->
						<!-- ko if: window.client.userAgent() === 'Android' && FileResource().ContentType().indexOf('image/') === -1 -->
						<span>@Html.Localize("File"): <a data-bind="text: FileResource().Filename, fileResource: FileResource, attr: { download: FileResource().Filename() }"></a></span>
						<!-- /ko -->
					</li>
					<!-- /ko -->
					@Html.PluginRenderActions("ServiceOrderExpensePostingItemTemplateAttributes")
				</ul>
				<!-- ko if: $parent.items().length > 0 && $index() === $parent.items().length - 1 -->
				<div class="row m-t-15 item-group-summary">
					<div class="pull-right m-r-15">
						<strong>
							<span>@(Html.Localize("TotalPrice")):</span>
							<span data-bind="money: $parent.accumulatedTotalPrice"></span>
							<span data-bind="lookupValue: $root.serviceOrder().CurrencyKey, lookups: $root.lookups.currencies"></span>
						</strong>
					</div>
				</div>
				<!-- /ko -->
			</div>
		</div>
		<lv-actions>@Html.PluginRenderActions("ServiceOrderExpensePostingsListActions")</lv-actions>
	</div>
</div>
