@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions
@using Crm.Library.Modularization.Extensions

<div class="container">
	<div class="card">
		<form role="form" data-bind="with: serviceCaseTemplate" class="root-form">
			<collapsible-block params="id: 'general'" class="morph">
				<collapsible-block-header params="customCss: 'bg-white', swapIcons: true">
					<span>@(Html.Localize("General"))</span>
				</collapsible-block-header>
				<collapsible-block-content params="context: { serviceCaseTemplate: $root.serviceCaseTemplate }">
					<!-- ko with: serviceCaseTemplate -->
					@Html.PluginRenderActions("ServiceCaseTemplateCreateFormGeneralTop")
					<div class="flex-input-row">
						<div>
							<form-element params="value: Name, caption: 'Name', type: 'text'"></form-element>
						</div>
					</div>
					@Html.PluginRenderActions("ServiceCaseTemplateCreateFormGeneralBottom")
					<!-- /ko -->
				</collapsible-block-content>
			</collapsible-block>

			<div class="top-separator"></div>

			<collapsible-block params="id: 'service-case-template'" class="morph">
				<collapsible-block-header params="customCss: 'bg-white', swapIcons: true">
					<span>@(Html.Localize("ServiceCaseTemplate"))</span>
				</collapsible-block-header>
				<collapsible-block-content params="context: { serviceCaseTemplate: $root.serviceCaseTemplate }">
					<!-- ko with: serviceCaseTemplate -->
					@Html.PluginRenderActions("ServiceCaseTemplateCreateFormServiceCaseTemplateTop")
					<div class="flex-input-row">
						<div>
							<form-element id="ServiceCaseCategoryKey" params="value: CategoryKey, caption: 'Category', type: 'select'">
								<select class="form-control" data-bind="select2autocompleter: { data: value, default: Helper.Lookup.getLookupValue($root.lookups.serviceCaseCategories, value), autocompleteOptions: Helper.Lookup.getAutocompleteOptions('CrmService_ServiceCaseCategory'), placeholder: placeholder }">
								</select>
							</form-element>
						</div>
						<div>
							<form-element id="ServiceCasePriorityKey" params="value: PriorityKey, caption: 'Priority', type: 'select'">
								<select class="form-control" data-bind="select2autocompleter: { data: value, default: Helper.Lookup.getLookupValue($root.lookups.servicePriorities, value), autocompleteOptions: Helper.Lookup.getAutocompleteOptions('CrmService_ServicePriority'), placeholder: placeholder }">
								</select>
							</form-element>
						</div>
					</div>
					<div class="flex-input-row">
						<div>
							<form-element id="UserGroupKey" params="value: UserGroupKey, caption: 'Usergroup', type: 'select2'">
								<select class="form-control" data-bind="select2autocompleter: { data: value, autocompleteOptions: { orderBy: ['Name'], table: 'Main_Usergroup', customFilter: Helper.User.filterUsergroupQuery, mapDisplayObject: Helper.User.mapUsergroupForSelect2Display, placeholder: placeholder } }">
								</select>
							</form-element>
						</div>
						<div>
							<form-element id="ServiceCaseResponsibleUser" params="value: ResponsibleUser, caption: 'ResponsibleUser', type: 'select2'">
								<select class="form-control" data-bind="select2autocompleter: { data: value, autocompleteOptions: { orderBy: ['LastName'], table: 'Main_User', mapDisplayObject: Helper.User.mapForSelect2Display, customFilter: function (query, term) { return Helper.User.filterUserQuery(query, term, $parent.UserGroupKey()); }, placeholder: placeholder } }">
								</select>
							</form-element>
						</div>
					</div>
					@Html.PluginRenderActions("ServiceCaseTemplateCreateFormServiceCaseTemplateBottom")
					<!-- /ko -->
				</collapsible-block-content>
			</collapsible-block>

			@Html.PluginRenderActions("ServiceCaseTemplateCreateForm")
		</form>
		@await Html.PartialAsync("CreateFormFooter")
	</div>
</div>