@inherits Crm.Library.Modularization.CrmViewUserControl<Main.ViewModels.GenericListViewModel>
@using Crm.Library.Globalization.Extensions
@using Crm.Library.Modularization.Extensions

@if (Model != null)
{
	@(Html.PluginRenderActions($"{Model.ControllerName ?? ""}HeaderExtension"))
}
<div class="lv-header-alt generic-list-header main-section listview" data-bind="css: { 'selection-mode' : selectedItems().length > 0, 'ch-alt': !isTabViewModel() }">
	<div class="card-header d-flex flex-auto flex-v-center">
		<div class="caption d-flex flex-wrap flex-auto">
			<h2 class="@(!string.IsNullOrEmpty(Model?.Title) ? "m-b-10" : null)">
				<!-- ko if: $root.pageTitle -->
				<span data-bind="text: $root.pageTitle"></span>
				<!-- /ko -->
				<!-- ko ifnot: $root.pageTitle -->
				<span>@(Html.Localize(Model?.Title))</span>
				<!-- /ko -->
				<!-- ko if: bulkActions().length > 0 -->
				<small data-bind="visible: selectedItems().length > 0" class="@(string.IsNullOrEmpty(Model?.Title) ? "m-t-0" : null)">
					<span>
						<!-- ko if: allItemsSelected -->
						@(Html.Localize("AllSearchedItemsAreSelectedWarning")) (<span data-bind="text: totalItemCount"></span>),
						<a href="#" data-bind="click: toggleSelectAllItems">@(Html.Localize("DeselectAll"))</a>
						<!-- /ko -->
						<!-- ko ifnot: allItemsSelected -->
						@(Html.Localize("NumberOfSelectedItems")): <span data-bind="text: selectedItems().length"></span>,
						<a href="#" data-bind="click: toggleSelectAllItems">@(Html.Localize("SelectWhole"))</a>
						<!-- /ko -->
					</span>
				</small>
				<!-- /ko -->
			</h2>
			<!-- ko if: viewMode().Key === "List" -->
			<div class="d-flex flex-wrap" style="gap: 5px;" data-bind="css: $root.pageTitle || (bulkActions().length > 0 && selectedItems().length > 0) ? 'm-t-10' : ''">
				@await Html.PartialAsync("Material/GenericListHeaderBookmarks")
				@await Html.PartialAsync("Material/GenericListHeaderOrderBy")
			</div>
			<!-- /ko -->
			@await Html.PartialAsync("Material/GenericListHeaderFilteredProperties")
		</div>
		<ul class="top-menu section-menu actions generic-list-actions">
			<li class="dropdown" id="more-dropdown">
				<a href="#" data-toggle="dropdown" aria-expanded="false">
					<i class="zmdi zmdi-more-vert"></i>
					<div class="small">@(Html.Localize("More_Upper"))</div>
				</a>
				<ul class="dropdown-menu dropdown-menu-right">
					@if (Model != null && Model.IsCsvExportable)
					{
						<!-- ko requiredPermission: { name: 'ExportAsCsv', group: '@(Model.Type.Name)' } -->
						<!-- ko if: loading() === false && getCsvLink() !== null -->
						<li>
							<a id="csv-download" href="#" data-bind="translatedText: 'ExportCSV', attr: { 'href': ko.computed(() => { ko.unwrap(loading); return decodeURIComponent(getCsvLink()) }) }, tooltip: true" download="@(Html.Localize("Export")).csv">
							</a>
						</li>
						<!-- /ko -->
						<!-- /ko -->
					}
					@if (Model != null && Model.IsRssSubscribable)
					{
						<!-- ko requiredPermission: { name: 'Rss', group: '@(Model.Type.Name)' } -->
						<!-- ko if: loading() === false && getRssLink() !== null -->
						<li>
							<a id="rss-feed" href="#" data-toggle="modal" data-target="#smModal" data-bind="translatedText: 'RSS', attr: { 'data-route': 'Main/Template/GetRssLink/?url=' + encodeURIComponent(getRssLink()) }, tooltip: true">
							</a>
						</li>
						<!-- /ko -->
						<!-- /ko -->
					}
					<!-- ko if: bulkActions().length > 0 && selectedItems().length > 0 -->
					<!-- ko foreach: bulkActions -->
					<li data-bind="ifnot: $data.Modal">
						<a href="#" data-bind="translatedText: Name, click: $parent.applyBulkAction"></a>
					</li>
					<li data-bind="if: $data.Modal">
						<a href="#" data-toggle="modal" data-bind="translatedText: Name, attr: { 'data-target': Modal.Target, 'data-route': Modal.Route }"></a>
					</li>
					<!-- /ko -->
					<!-- /ko -->
					<!-- ko if: viewMode().Key === "Calendar" -->
					<li data-bind="if: $data.downloadIcs">
						<a href="#" data-bind="click: $data.downloadIcs, visible: $data.items().length > 0" download="@(Html.Localize("Calendar")).ics">
							@(Html.Localize("DownloadIcs"))
						</a>
					</li>
					<li data-bind="if: $data.getIcsLinkAllowed()">
						<a href="#" data-toggle="modal" data-target="#smModal" data-bind="attr: { 'data-route': ko.computed(() => { ko.unwrap(loading); return 'Main/Template/GetIcsLink/' + encodeURIComponent($data.getIcsLink()); }) }">
							@(Html.Localize("CopyLink"))
						</a>
					</li>
					<!-- /ko -->
					@Html.PluginRenderActions("GenericListHeaderMoreExtensions")
				</ul>
			</li>
		</ul>
		<div class="action-separator"></div>
		<ul class="top-menu section-menu actions generic-list-actions">
			@Html.PluginRenderActions("GenericListHeaderExtensions")
		</ul>
		<div class="action-separator"></div>
		<ul class="top-menu section-menu actions generic-list-actions">
			<!-- ko if: viewMode().Key === "Calendar" -->
			<li class="dropdown">
				<a href="#" data-toggle="dropdown" data-bind="tooltip: true">
					<i class="zmdi zmdi-dns"></i>
					<div class="small">@(Html.Localize("Value"))</div>
				</a>
				<ul class="dropdown-menu dropdown-menu-right" data-bind="foreach: $data.timelineProperties">
					<li data-bind="css: { 'active': $parent.timelineProperty() == $data }">
						<a data-bind="click: $parent.setTimelineProperty, text: $data.Caption" href="#"></a>
					</li>
				</ul>
			</li>
			<li class="dropdown">
				<a href="#" data-toggle="dropdown">
					<i class="zmdi zmdi-view-week"></i>
					<div class="small">@(Html.Localize("TimePeriod"))</div>
				</a>
				<ul class="dropdown-menu dropdown-menu-right">
					<li data-bind="css: { 'active': $data.calendarDefaultView() == 'month' }">
						<a data-view="month" href="#">@(Html.Localize("CalendarViewMonth"))</a>
					</li>
					<li data-bind="css: { 'active': ['agendaWeek', 'basicWeek'].indexOf($data.calendarDefaultView()) > -1 }">
						<a data-view="agendaWeek" href="#">@(Html.Localize("CalendarViewAgendaWeek"))</a>
					</li>
					<li data-bind="css: { 'active': ['agendaDay', 'basicDay'].indexOf($data.calendarDefaultView()) > -1 }">
						<a data-view="agendaDay" href="#">@(Html.Localize("CalendarViewAgendaDay"))</a>
					</li>
				</ul>
			</li>
			<!-- /ko -->
			<li id="viewMode-setting-dropdown" class="dropdown">
				<a href="#" data-toggle="dropdown" aria-expanded="true" data-bind="tooltip: true">
					<i class="zmdi zmdi-settings"></i>
					<div class="small">@(Html.Localize("View"))</div>
				</a>
				<ul class="dropdown-menu dropdown-menu-right">
					<!-- ko if: viewModes().length > 1 -->
					<!-- ko foreach: viewModes -->
					<li data-bind="attr: { 'class': $data.Key.toLowerCase() + '-viewMode' }, css: { 'active': $parent.viewMode().Key === $data.Key }">
						<a href="#" data-bind="click: $parent.setViewMode">
							<span data-bind="text: Value"></span>
						</a>
					</li>
					<!-- /ko -->
					<!-- /ko -->
					<!-- ko if: viewMode().Key === "List" && ($root.chartViewModel || $root.mapViewModel?.mapEnabled) -->
					<!-- ko if: viewModes().length > 1 -->
					<li class="divider"></li>
					<!-- /ko -->
					<!-- ko with: $root.chartViewModel -->
					<li>
						<div class="toggle-switch col-xs-12 p-t-10 p-b-10" data-ts-color="blue">
							<input id="show-chart-ts" type="checkbox" hidden="hidden" data-bind="checked: showChart">
							<label for="show-chart-ts" class="ts-helper chart-action pull-right"></label>
							<label for="show-chart-ts" class="ts-label m-r-5 pull-left">Chart</label>
						</div>
					</li>
					<!-- /ko -->
					<!-- ko with: $root.mapViewModel || $root -->
					<!-- ko if: $data.mapEnabled -->
					<li>
						<div class="toggle-switch col-xs-12 p-t-10 p-b-10" data-ts-color="blue">
							<input id="show-map-ts" type="checkbox" hidden="hidden" data-bind="checked: showMap">
							<label for="show-map-ts" class="ts-helper map-action pull-right"></label>
							<label for="show-map-ts" class="ts-label m-r-5 pull-left">@(Html.Localize("MapTitle"))</label>
						</div>
					</li>
					<!-- /ko -->
					<!-- /ko -->
					<!-- /ko -->
				</ul>
			</li>
		</ul>
		<div class="action-separator"></div>
		@await Html.PartialAsync("Material/GenericListTopMenu")
	</div>
</div>
