@using Crm.Library.EntityConfiguration
@using Crm.Library.Globalization.Extensions
@using Crm.Library.Modularization.Extensions
@using Main.ViewModels
@inherits Crm.Library.Modularization.CrmViewUserControl<Main.ViewModels.GenericListViewModel>

@Html.PluginRenderActions("MaterialGenericListResourceExtensions")

<div class="modal-header generic-list-header card-header ch-alt" data-bind="mProgress: loading" data-keepchanges="true">
	<button type="button" class="close" data-dismiss="modal" aria-label="@(Html.Localize("Close"))">
		<span aria-hidden="true">&times;</span>
	</button>
	<h4 class="modal-title" data-bind="text: $root.pageTitle"></h4>
	<div class="d-flex flex-wrap m-t-10" style="gap: 5px;">
		@await Html.PartialAsync("Material/GenericListHeaderBookmarks")
		@await Html.PartialAsync("Material/GenericListHeaderOrderBy")
	</div>
	@await Html.PartialAsync("Material/GenericListHeaderFilteredProperties")
</div>
<div class="m-b-30 modal-body card-body card-padding">
	<form role="form" action="#">
		@foreach (var filterDefinition in Model.FilterProperties)
		{
			@await Html.PartialAsync("Material/GenericListFilter" + filterDefinition.GetFilterDefinitionTypeName(), Model.SynchronizedModel(new CrmModelItem<FilterDefinition> { Item = filterDefinition }))
		}
		@Html.PluginRenderActions($"{Model.ControllerName}FilterTemplate")
		@Html.PluginRenderActions("MaterialGenericListFilterExtensions")
		<div class="text-right">
			<button id="reset-generic-list-filter" type="button" class="btn btn-lg btn-default f-13 waves-effect" data-bind="click: resetFilter">
				@(Html.Localize("Reset"))
			</button>
			<button id="apply-generic-list-filter" type="button" class="btn btn-lg btn-primary f-13 waves-effect m-l-5" data-bind="click: filter">
				@(Html.Localize("Filter"))
			</button>
		</div>
	</form>
</div>
<hr data-bind="visible: totalItemCount() !== null" />
<div class="card generic-list has-bulk-actions" data-bind="css: { 'bulk-selection' : selectedItems().length > 0 }, visible: totalItemCount() !== null">
	@Html.PluginRenderActions("ListIncompleteWarning")
	@await Html.PartialAsync("Material/GenericListList")
	@await Html.PartialAsync("Material/GenericListItem")
</div>