@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions
@using Crm.Library.Modularization.Extensions

<collapsible-block params="id: 'dispatch-location'" class="morph">
	<collapsible-block-header params="customCss: 'bg-white', swapIcons: true">
		<span>@(Html.Localize("DispatchLocation"))</span>
	</collapsible-block-header>
	<collapsible-block-content params="context: { serviceOrder: $root.serviceOrder }">
		<!-- ko with: serviceOrder -->
		@Html.PluginRenderActions("ServiceOrderCreateFormDispatchLocationTop")
		<div class="flex-input-row animated fadeIn" data-bind="visible: !$root.customAddress()">
			<div>
				<form-element id="SelectedAddress" params="value: $root.selectedAddress, type: 'select2'">
					<select class="form-control" data-bind="select2autocompleter: { data: value, autocompleteOptions: { customFilter: $root.filterAddresses.bind($root), table: 'Crm_Address', mapDisplayObject: Helper.Address.mapForSelect2Display, templateResult: $root.formatAddress.bind($root), onSelect: $root.selectedAddressOnSelect.bind($root), placeholder: placeholder } }">
					</select>
				</form-element>
				<!-- ko if: !$root.selectedAddress() && !!$root.serviceOrder().Company() -->
				<div class="text-warning m-b-10" style="margin-top: -10px">
					<i class="zmdi zmdi-alert-triangle zmdi-hc-fw"></i>
					<span class="f-500">
						@(Html.Localize("DispatchLocationMissingWarning"))
					</span>
				</div>
				<!-- /ko -->
				<div class="m-b-15" style="margin-top: -10px">
					<a href="#" data-bind="click: $root.toggleCustomAddress">
						@(Html.Localize("EnterCustomAddress"))
					</a>
				</div>
			</div>
		</div>
		<div class="flex-input-row animated fadeIn" data-bind="visible: $root.customAddress">
			<div>
				<form-element params="value: Name1, caption: 'Name1', type: 'text'"></form-element>
				<div class="m-b-15">
					<a href="#" data-bind="click: $root.toggleCoordinate">
						<!-- ko if: $root.showCoordinate() -->
						<span>@(Html.Localize("UseAddress"))</span>
						<!-- /ko -->
						<!-- ko ifnot: $root.showCoordinate() -->
						<span>@(Html.Localize("UseCoordinates"))</span>
						<!-- /ko -->
					</a>
				</div>
				<!-- ko ifnot: $root.showCoordinate() -->
				<form-element params="value: Name2, caption: 'Name2', type: 'text'"></form-element>
				<form-element params="value: Name3, caption: 'Name3', type: 'text'"></form-element>
				<form-element params="value: Street, caption: 'Street', type: 'text'"></form-element>
				<div class="row">
					<div class="col-sm-3">
						<form-element params="value: ZipCode, caption: 'ZipCode', type: 'text'"></form-element>
					</div>
					<div class="col-sm-9">
						<form-element params="value: City, caption: 'City', type: 'text'"></form-element>
					</div>
				</div>
				<div class="row">
					<div class="col-sm-6">
						<form-element id="RegionKey" params="value: RegionKey, caption: 'Region', type: 'select2'">
							<select class="form-control" data-bind="select2autocompleter: { data: value, autocompleteOptions: Helper.Lookup.getAutocompleteOptions('Main_Region'), placeholder: placeholder }">
							</select>
						</form-element>
					</div>
					<div class="col-sm-6">
						<form-element id="CountryKey" params="value: CountryKey, caption: 'Country', type: 'select2'">
							<select class="form-control" data-bind="select2autocompleter: { data: value, autocompleteOptions: Helper.Lookup.getAutocompleteOptions('Main_Country'), placeholder: placeholder }">
							</select>
						</form-element>
					</div>
				</div>
				<!-- /ko -->
				<!-- ko if: $root.showCoordinate() -->
				<div class="row">
					<div class="col-sm-6">
						<form-element params="value: $root.latitude, name: 'Latitude', type: 'text', caption:'Latitude'"></form-element>
					</div>
					<div class="col-sm-6">
						<form-element params="value: $root.longitude, name: 'Longitude', type: 'text', caption:'Longitude'"></form-element>
					</div>
				</div>
				<!-- /ko -->
				<div class="m-b-15" style="margin-top: -10px">
					@(Html.Localize("or"))
					<a href="#" data-bind="click: $root.toggleCustomAddress">
						@(Html.Localize("AddressSelection"))
					</a>
				</div>
			</div>
		</div>
		<div class="flex-input-row animated fadeIn" data-bind="visible: !$root.customContactPerson()">
			<div>
				<form-element id="SelectedContactPerson" params="value: $root.selectedContactPerson, caption: 'ServiceLocationResponsibleContact', type: 'select2'">
					<select class="form-control" data-bind="select2autocompleter: { data: value, autocompleteOptions: { orderBy: ['Surname', 'Firstname'], table: 'Crm_Person', joins: ['Emails', 'Phones'], customFilter: $root.contactPersonFilter.bind($root), mapDisplayObject: Helper.Person.mapForSelect2Display, onSelect: $root.selectedContactPersonOnSelect.bind($root), placeholder: placeholder } }">
					</select>
				</form-element>
				<div class="m-b-15" style="margin-top: -10px">
					<a href="#" data-bind="click: $root.toggleCustomContactPerson">
						@(Html.Localize("CustomServiceLocationResponsibleContact"))
					</a>
				</div>
			</div>
		</div>
		<div class="flex-input-row animated fadeIn" data-bind="visible: $root.customContactPerson">
			<div>
				<form-element params="value: ServiceLocationResponsiblePerson, caption: 'Name', type: 'text'"></form-element>
				<form-element params="value: ServiceLocationPhone, caption: 'Phone', type: 'text'"></form-element>
				<form-element params="value: ServiceLocationEmail, caption: 'EmailTitle', type: 'email'"></form-element>
				<div class="m-b-15" style="margin-top: -10px">
					@(Html.Localize("or"))
					<a href="#" data-bind="click: $root.toggleCustomContactPerson">
						@(Html.Localize("ServiceLocationResponsibleContactSelection"))
					</a>
				</div>
			</div>
		</div>
		<div class="flex-input-row">
			<div>
				<form-element id="StationKey" params="value: StationKey, caption: 'Station', type: 'select2'">
					<div class="input-group">
						<select class="form-control" data-bind="select2autocompleter: { data: value, autocompleteOptions: { orderBy: ['Name', 'LegacyId'], table: 'Crm_Station', mapDisplayObject: Helper.Station.mapForSelect2Display, customFilter: Helper.Station.getSelect2Filter, placeholder: placeholder} }">
						</select>
						<!-- ko component: { name: "generic-list-selection", params: { value: value, controller: 'StationList', plugin: 'Crm', caption: caption, customFilter: Helper.Station.getSelect2Filter } } -->
						<!-- /ko -->
					</div>
				</form-element>
			</div>
		</div>
		@Html.PluginRenderActions("ServiceOrderCreateFormDispatchLocationBottom")
		<!-- /ko -->
	</collapsible-block-content>
</collapsible-block>

<div class="top-separator"></div>