@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Extensions
@using Crm.Library.Globalization.Extensions
@using Crm.Library.Modularization.Extensions

<collapsible-block params="id: 'general'" class="morph">
	<collapsible-block-header params="customCss: 'bg-white', swapIcons: true">
		<span>@(Html.Localize("General"))</span>
	</collapsible-block-header>
	<collapsible-block-content params="context: { serviceOrder: $root.serviceOrder }">
		<!-- ko with: serviceOrder -->
		@Html.PluginRenderActions("ServiceOrderCreateFormGeneralTop")

		<div class="flex-input-row">
			<div>
				<form-element id="CustomerContactId" params="value: CustomerContactId, caption: 'Customer', type: 'select2'">
					<div class="input-group">
						<select class="form-control" data-bind="select2autocompleter: { data: value, autocompleteOptions: { orderBy: ['Name'], table: 'Crm_Company', joins: ['Addresses'], mapDisplayObject: Helper.Company.mapForSelect2Display, customFilter: $root.customerContactFilter.bind($root), onSelect: $root.onCustomerContactSelect.bind($root), placeholder: placeholder } }">
						</select>
						<!-- ko component: { name: "generic-list-selection", params: { value: value, controller: 'CompanyList', plugin: 'Crm', caption: caption, customFilter: $root.customerContactFilter.bind($root), onSelect: $root.onCustomerContactSelect.bind($root) } } -->
						<!-- /ko -->
					</div>
				</form-element>
			</div>
			<div>
				<!-- ko if: window.Crm.Service.Settings.ServiceContract.MaintenanceOrderGenerationMode === 'OrderPerInstallation' -->
				<form-element id="InstallationId" params="value: InstallationId, caption: 'Installation', type: 'select2'">
					@Html.RenderAction("AutocompleteTemplate", "InstallationList", new { plugin = "Crm.Service" })
					<div class="input-group">
						<select class="form-control" data-bind="select2autocompleter: { data: value, autocompleteOptions: { orderBy: ['InstallationNo', 'Description'], table: 'CrmService_Installation', joins: ['Address', 'Company', 'ServiceObject'], customFilter: $root.installationFilter.bind($root), mapDisplayObject: Helper.Installation.mapForSelect2Display, onSelect: $root.onInstallationSelect.bind($root), templateResultId: 'installation-autocomplete-template', placeholder: placeholder } }">
						</select>
						<!-- ko component: { name: "generic-list-selection", params: { value: value, controller: 'InstallationList', plugin: 'Crm.Service', caption: caption, customFilter: $root.installationFilter.bind($root), onSelect: $root.onInstallationSelect.bind($root) } } -->
						<!-- /ko -->
					</div>
				</form-element>
				<!-- /ko -->
				<!-- ko if: window.Crm.Service.Settings.ServiceContract.MaintenanceOrderGenerationMode === 'JobPerInstallation' -->
				<form-element id="Installations" params="value: $root.installationIds, caption: 'Installations', type: 'select2'">
					@Html.RenderAction("AutocompleteTemplate", "InstallationList", new { plugin = "Crm.Service" })
					<select class="form-control" multiple="multiple" data-bind="select2autocompleter: { data: value, autocompleteOptions: { orderBy: ['InstallationNo', 'Description'], table: 'CrmService_Installation', joins: ['Address', 'Company', 'ServiceObject'], customFilter: $root.installationFilter.bind($root), mapDisplayObject: Helper.Installation.mapForSelect2Display, getElementByIdQuery: $root.getInstallationsByIds, onSelect: $root.installations, placeholder: placeholder } }">
					</select>
				</form-element>
				<!-- /ko -->
			</div>

			<!-- ko if : window.Crm.Service.Settings.ServiceOrder.OrderNoIsCreateable && (!window.Helper.Offline || window.Helper.Offline.status === 'online') -->
			<div>
				<form-element id="ServiceOrderNo" params="value: OrderNo, caption: 'OrderNo', type: 'text'">
				</form-element>
			</div>
			<!-- /ko -->
		</div>

		<div class="flex-input-row">
			<div>
				<form-element id="TypeKey" params="value: TypeKey, caption: 'ServiceOrderType', type: 'select2'">
					<select class="form-control" data-bind="select2autocompleter: { data: value, autocompleteOptions: { customFilter: Helper.ServiceOrder.queryServiceOrderType, table: 'CrmService_ServiceOrderType', mapDisplayObject: Helper.Lookup.mapLookupForSelect2Display, getElementByIdQuery: Helper.Lookup.getLookupByKeyQuery, onSelect: $root.onServiceOrderTypeSelect.bind($root), placeholder: placeholder }}">
					</select>
				</form-element>
			</div>
			<!-- ko requiredPermission: { name: 'Index', group: 'ServiceOrderTemplate' } -->
			<!-- ko if: $root.isThereAnyActiveServiceOrderTemplate -->
			<div>
				<form-element id="ServiceOrderTemplateId" params="value: ServiceOrderTemplateId, caption: 'ServiceOrderTemplate', type: 'select2'">
					<div class="input-group">
						<select class="form-control" data-bind="select2autocompleter: { data: value, autocompleteOptions: { orderBy: ['OrderNo', 'ErrorMessage'], table: 'CrmService_ServiceOrderHead', mapDisplayObject: Helper.ServiceOrder.mapForSelect2Display, customFilter: Helper.ServiceOrder.getServiceOrderTemplateAutocompleteFilter, onSelect: $root.onServiceOrderTemplateSelect.bind($root), placeholder: placeholder } }">
						</select>
						<!-- ko component: { name: "generic-list-selection", params: { value: value, controller: 'ServiceOrderTemplateList', plugin: 'Crm.Service', caption: caption, customFilter: Helper.ServiceOrder.getServiceOrderTemplateAutocompleteFilter, onSelect: $root.onServiceOrderTemplateSelect.bind($root) } } -->
						<!-- /ko -->
					</div>
				</form-element>
			</div>
			<!-- /ko -->
			<!-- /ko -->
			<!-- ko requiredPermission: { name: 'ServiceObject', group: 'WebAPI' } -->
			<!-- ko if: $root.isThereAnyActiveServiceObject -->
			<div>
				<form-element id="ServiceObjectId" params="value: ServiceObjectId, caption: 'ServiceObject', type: 'select2'">
					<div class="input-group">
						<select class="form-control" data-bind="select2autocompleter: { data: value, autocompleteOptions: { orderBy: ['ObjectNo', 'Name'], joins: ['Addresses'], table: 'CrmService_ServiceObject', joins: ['Addresses'], mapDisplayObject: Helper.ServiceObject.mapForSelect2Display, customFilter: $root.serviceObjectFilter.bind($root), onSelect: $root.onServiceObjectSelect.bind($root), placeholder: placeholder } }">
						</select>
						<!-- ko component: { name: "generic-list-selection", params: { value: value, controller: 'ServiceObjectList', plugin: 'Crm.Service', caption: caption, customFilter: $root.serviceObjectFilter.bind($root), onSelect: $root.onServiceObjectSelect.bind($root) } } -->
						<!-- /ko -->
					</div>
				</form-element>
			</div>
			<!-- /ko -->
			<!-- /ko -->
		</div>
		<div class="flex-input-row">
			<div data-bind="css: $root.initiatorBelongsToCustomer() ? 'm-b-25' : ''">
				<a href="#" data-bind="click: $root.toggleInitiatorBelongsToCustomer">
					<span data-bind="translatedText: $root.initiatorBelongsToCustomer() ? 'IsInitiatorNotBelongsToCustomer' : 'IsInitiatorBelongsToCustomer'"></span>
				</a>
			</div>
		</div>
		<div class="flex-input-row">
			<!-- ko ifnot: $root.initiatorBelongsToCustomer -->
			<div>
				<form-element id="InitiatorId" params="value: InitiatorId, caption: 'Initiator', type: 'select2'">
					<div class="input-group">
						<select class="form-control" data-bind="select2autocompleter: { data: value, autocompleteOptions: { orderBy: ['Name'], table: 'Crm_Company', joins: ['Addresses'], mapDisplayObject: Helper.Company.mapForSelect2Display, customFilter: $root.initiatorFilter.bind($root), onSelect: $root.onInitiatorSelect.bind($root), placeholder: placeholder } }">
						</select>
						<!-- ko component: { name: "generic-list-selection", params: { value: value, controller: 'CompanyList', plugin: 'Crm', caption: caption, customFilter: $root.initiatorFilter.bind($root), onSelect: $root.onInitiatorSelect.bind($root) } } -->
						<!-- /ko -->
					</div>
				</form-element>
			</div>
			<div>
				<form-element id="InitiatorPersonId" params="value: InitiatorPersonId, caption: 'InitiatorPerson', type: 'select2', disable: !InitiatorId()">
					<div class="input-group">
						<select class="form-control" data-bind="select2autocompleter: { data: value, autocompleteOptions: { orderBy: ['Surname', 'Firstname'], table: 'Crm_Person', customFilter: (query, term) => $root.initiatorPersonFilter($root.serviceOrder(), query, term), mapDisplayObject: Helper.Person.mapForSelect2Display, placeholder: placeholder } }, disable: disable">
						</select>
						<!-- ko component: { name: "generic-list-selection", params: { value: value, controller: 'PersonList', plugin: 'Crm', caption: caption, disable: disable, customFilter: (query) => $root.initiatorPersonFilter($root.serviceOrder(), query) } } -->
						<!-- /ko -->
					</div>
				</form-element>
			</div>
			<!-- /ko -->
		</div>

		<div class="flex-input-row">
			<!-- ko if: $root.isThereAnyErrorCode -->
			<div>
				<form-element id="ErrorCode" params="value: ErrorCodeKey, caption: 'ErrorCode', type: 'select'">
					<select name="ErrorCode" class="form-control" data-bind="select2autocompleter: { data: value, autocompleteOptions: Helper.Service.getErrorCodeAutocompleteOptions() }">
					</select>
				</form-element>
			</div>
			<!-- /ko -->
			<div>
				<form-element params="value: Reported, caption: 'Reported', type: 'datePicker', datePickerOptions: { config: { maxDate: new Date(), stepping: parseInt(Crm.Service.Settings.ServiceOrderTimePosting.MinutesInterval) } }"></form-element>
			</div>
		</div>

		<div class="flex-input-row">
			<div>
				<form-element params="value: ErrorMessage, caption: 'ErrorMessage', type: 'textarea'"></form-element>
			</div>
		</div>

		@Html.PluginRenderActions("ServiceOrderCreateFormGeneralBottom")
		<!-- /ko -->
	</collapsible-block-content>
</collapsible-block>

<div class="top-separator"></div>