@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions
@using Crm.Library.Modularization.Extensions
@using Crm.Service.Model

<ul class="top-menu">
	@Html.PluginRenderActions("ServiceOrderDetailsTopMenu")
	@Html.PluginRenderActions("ContactDetailsTopMenu")
</ul>

<div class="container">
	<div id="profile-main" class="divided-detail">
		<div class="pm-overview c-overflow hide-print card w-100" tabindex="4">
			<block>
				<block-header>
					<div>
						<div data-bind="text: $root.title"></div>
						<div class="f-13 m-t-5">
							<span data-bind="text: $root.additionalTitle"></span>
						</div>
					</div>
					<div class="m-l-auto">
						<status-chooser params="currentStatus: $root.serviceOrder().StatusKey, statuses: $root.lookups.serviceOrderStatuses.$array.filter(x => x.Key !== null), settableStatuses: $root.settableStatuses, setStatus: $root.setStatus.bind($root), canSetStatus: $root.canSetStatus.bind($root)"></status-chooser>
					</div>
				</block-header>
				<block-content>
					<div class="flex-block m-0">
						<div>
							<pmb-block class="dispatch-location-pmb" params="icon: 'pin-drop', caption: 'DispatchLocation', context: { serviceOrder: $root.serviceOrder }, condition: $root.serviceOrderIsEditable, onCancel: $root.onLocationPmbCancel.bind($root)">
								@await Html.PartialAsync("ServiceOrderMaterialDetails/DetailsLocation")
							</pmb-block>
						</div>
						<div>
							<!-- ko with: $root -->
							<!-- ko if: $root.customerContact -->
							<pmb-block params="icon: 'city-alt', caption: 'Customer', context: { customerContact: $root.customerContact, customerContactAddress: $root.customerContactAddress, serviceOrder: $root.serviceOrder }, condition: $root.canEditCustomerContact, onSave: $root.onSaveCustomerContact">
								@await Html.PartialAsync("ServiceOrderMaterialDetails/DetailsCustomerContact")
							</pmb-block>
							<!-- /ko -->
							<!-- /ko -->
						</div>
					</div>
				</block-content>
			</block>
			<div class="top-separator"></div>
			<collapsible-block params="id: 'additional-head-info', collapsed: true">
				<collapsible-block-header params="customCss: 'bg-white', swapIcons: true">
					<span class="f-15">@(Html.Localize("AdditionalInformation"))</span>
				</collapsible-block-header>
				<collapsible-block-content>
					<div class="flex-block">
						<!-- ko with: $root -->
						@Html.PluginRenderActions("MaterialServiceOrderHeaderExtensions")
						@Html.PluginRenderActions("MaterialContactHeaderExtensions")
						<!-- /ko -->
					</div>
				</collapsible-block-content>
			</collapsible-block>
		</div>

		<!-- ko with:  $root.serviceOrder -->
		<!-- ko if: NoInvoiceReasonKey() !== null -->
		<div class="alert alert-info centered">
			<span data-bind="translatedText: 'NoInvoice'"></span>: <span data-bind="lookupValue: NoInvoiceReasonKey, lookups: $root.lookups.serviceOrderNoInvoiceReasons"></span>
		</div>
		<!-- /ko -->
		<!-- /ko -->

		<div class="row">
			<div class="col-lg-8">
				<div class="card detail-main-block">
					<div class="pm-overview">
						<ul class="tab-nav morph" role="tablist" tabindex="1">
							@Html.PluginRenderActions("ServiceOrderDetailsMaterialTabHeader")
						</ul>
					</div>
					<div class="pm-body clearfix">
						<div class="tab-content">
							@Html.PluginRenderActions("ServiceOrderDetailsMaterialTab")
						</div>
					</div>
				</div>
			</div>
			<div class="col-lg-4">
				<!-- ko requiredPermission: { name: 'TasksBlock', group: 'ServiceOrder' } -->
				<div class="row">
					<div class="col-lg-12">
						<div class="card detail-side-block">
							<task-list-block params="parentViewModel: $root">
							</task-list-block>
						</div>
					</div>
				</div>
				<!-- /ko -->
				<div class="row">
					<div class="col-lg-12 col-md-6">
						<div class="card detail-side-block">
							<collapsible-block params="id: 'tags'">
								<collapsible-block-header params="icon: 'tag'">
									<span>@(Html.Localize("Tags"))</span>
								</collapsible-block-header>
								<collapsible-block-content>
									<!-- ko with: $root -->
									@await Html.PartialAsync("ContactDetailsTagBlock", typeof(ServiceOrderHead))
									<!-- /ko -->
								</collapsible-block-content>
							</collapsible-block>
						</div>
					</div>
					<div class="col-lg-12 col-md-6">
						<div class="card detail-side-block">
							<collapsible-block params="id: 'skills'">
								<collapsible-block-header params="icon: 'account-box-mail'">
									<span>@(Html.Localize("Skills"))</span>
								</collapsible-block-header>
								<collapsible-block-content>
									<!-- ko with: $root -->
									<pmb-block params="context: { serviceOrder: $root.serviceOrder }">
										<pmbb-view>
											<!-- ko with: serviceOrder -->
											<pmbb-view-entry params="caption: 'Skills'">
												<!-- ko if: RequiredSkillKeys().length > 0 -->
												<span data-bind="text: $root.getSkillsFromKeys(RequiredSkillKeys()).map(function(x){ return x.text; }).join(', ')"></span>
												<!-- /ko -->
												<span class="c-gray" data-bind="translatedText: 'Unspecified', if: RequiredSkillKeys().length === 0"></span>
											</pmbb-view-entry>
											<!-- /ko -->
										</pmbb-view>
										<pmbb-edit>
											<!-- ko with: serviceOrder -->
											<pmbb-edit-entry params="caption: 'Skills'">
												<select class="form-control" multiple="multiple" data-bind="select2autocompleter: { data: RequiredSkillKeys, autocompleteOptions: { table: 'Main_Skill', customFilter: Helper.Lookup.queryLookup, mapDisplayObject: Helper.Lookup.mapLookupForSelect2Display, getElementByIdQuery: Helper.Lookup.getLookupByKeyQuery, placeholder: $parent.placeholder } }">
												</select>
											</pmbb-edit-entry>
											<!-- /ko -->
										</pmbb-edit>
									</pmb-block>
									<!-- /ko -->
								</collapsible-block-content>
							</collapsible-block>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-lg-12 col-md-6">
						<div class="card detail-side-block">
							<collapsible-block params="id: 'initiator'">
								<collapsible-block-header params="icon: 'city-alt'">
									<span>@(Html.Localize("Initiator"))</span>
								</collapsible-block-header>
								<collapsible-block-content>
									<!-- ko with: $root -->
									@await Html.PartialAsync("ServiceOrderMaterialDetails/DetailsTabInitiator")
									<!-- /ko -->
								</collapsible-block-content>
							</collapsible-block>
						</div>
					</div>
					<div class="col-lg-12 col-md-6">
						<div class="card detail-side-block">
							<collapsible-block params="id: 'statistics-key'">
								<collapsible-block-header params="icon: 'equalizer'">
									<span>@(Html.Localize("StatisticsKey"))</span>
								</collapsible-block-header>
								<collapsible-block-content>
									<!-- ko ifnot: $root.loading -->
									<statisticskey-info params="entity: $root.serviceOrder().ServiceOrderStatisticsKeys()[0] ?? database.CrmService_ServiceOrderStatisticsKey.defaultType.create().asKoObservable(), tableName: 'CrmService_ServiceOrderStatisticsKey', serviceOrderId: $root.serviceOrder().Id(), condition: $root.serviceOrderIsEditable, showHeader: false"></statisticskey-info>
									<!-- /ko -->
								</collapsible-block-content>
							</collapsible-block>
						</div>
					</div>
				</div>
				@Html.PluginRenderActions("MaterialServiceOrderSidebarExtensions")
				@Html.PluginRenderActions("MaterialContactSidebarExtensions")
			</div>
		</div>
	</div>
</div>