@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions
@using Crm.Library.Modularization.Extensions

<div role="tabpanel" class="tab-pane animated fadeIn" id="tab-installations" data-bind="with: tabs()['tab-installations']">
	<div class="content-header placeholder">
		<div class="lv-header-alt generic-list-header main-section listview">
			@await Html.PartialAsync("Material/GenericListHeaderFilteredProperties")
			<div class="card-header d-flex flex-auto">
				<div class="caption d-flex flex-auto">
					<h2>&nbsp;</h2>
				</div>
				<ul class="top-menu section-menu actions generic-list-actions">
					<li data-bind="visible: true, tooltip: true" data-placement="bottom">
						<a id="open-generic-list-filter" data-trigger="#right-nav" href="#" data-route="@("Crm.Service/InstallationList/FilterTemplate")">
							<i class="tm-icon zmdi zmdi-filter-list"></i>
							<div class="small">@(Html.Localize("Filter"))</div>
						</a>
					</li>
				</ul>
			</div>
		</div>
		<!-- ko requiredPermission: { name: 'Create', group: 'Installation' } -->
		<floating-action-button params="position: 'top', showWhenDropdownIsToggled: true">
			<li data-bind="with: $root">
				<a data-mfb-label="@(Html.Localize("CreateInstallation"))" href="#/Crm.Service/Installation/CreateTemplate?locationContactId={{$root.company().Id()}}">
					<i class="zmdi zmdi-plus"></i>
				</a>
			</li>
		</floating-action-button>
		<!-- /ko -->
	</div>
	<ul class="top-menu">
		@Html.PluginRenderActions("CompanyInstallationsTabTopMenu")
	</ul>
	<empty-state-box params="mood: 'sad', title: 'NoInstallations', text: 'NoCompanyInstallationsInfo'" data-bind="visible: items().length === 0 && !isFiltered()">
	</empty-state-box>
	<p class="p-10" data-bind="visible: items().length === 0 && isFiltered()">
		@(Html.Localize("NoRecordsForSearchCriteria"))
	</p>
	@Html.PluginRenderActions("MaterialGenericListResourceExtensions")
	<div class="generic-list listview lv-bordered">
		<div class="lv-body" data-bind="foreach: items">
			 @await Html.PartialAsync("GenericListItemGroup") 
			 @await Html.PartialAsync("../InstallationList/MaterialItemTemplate") 
		</div>
	</div>
	 @await Html.PartialAsync("Material/GenericListPreloader") 
</div>