@using System.Globalization
@using Crm.Library.Globalization.Extensions
@using Crm.Library.Modularization.Extensions
@using StackExchange.Profiling

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="@CultureInfo.CurrentUICulture.Name" translate="no">
<head id="head">
	@Html.PluginRenderActions("LoginHeadResource")
	@RenderSection("TitleContent", false)
</head>
<body class="login-body">
	<div class="wrap">
		<div class="content">
			<main>
				<div>
					@using (MiniProfiler.Current.Step("Rendering Main content"))
					{
						@RenderSection("MainContent", false)
					}
				</div>
			</main>
			<footer>
				<span>
					@(Model.Site.DisplayName)
				</span>
				<span>
					&#8226;
				</span>
				<span>
					@(Model.Site.ApplicationVersion)
				</span>
				<span>
					&#8226;
				</span>
				<a href="https://l-mobile.com/" target="_blank">l-mobile.com</a>
			</footer>
		</div>
		<aside>
		</aside>
	</div>
	<div id="loading-message" class="hide">@Html.Localize("loading")</div>
	@Html.PluginRenderActions("LoginBodyResource")
</body>
</html>