@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions
@using Crm.Service.Rest.Model
@using Main.Offline.Extensions

<table class="table m-b-10 body-data" data-bind="visible: $parent.showExpensePostingsTable($data)">
	<thead>
		<tr>
			<th class="bgm-bluegray" colspan="4">
				<b class="c-white" data-bind="translatedText: { key: 'Expenses', language: $parent.selectedLanguage }">@(Html.Localize("Expenses"))</b>
			</th>
		</tr>
		@using (Html.TemplateCondition("ServiceOrderExpensePostings.length > 0"))
		{
			<tr>
				<th class="col-xs-3">
					<b class="c-gray" data-bind="translatedText: { key: 'Date', language: $parent.selectedLanguage }">@(Html.Localize("Date"))</b>
				</th>
				<th class="col-xs-2">
					<b class="c-gray" data-bind="translatedText: { key: 'Article', language: $parent.selectedLanguage }">@(Html.Localize("Article"))</b>
				</th>
				<th class="col-xs-6">
					<b class="c-gray" data-bind="translatedText: { key: 'Description', language: $parent.selectedLanguage }">@(Html.Localize("Activity"))</b>
				</th>
				<th class="col-xs-1 text-right">
					<b class="c-gray" data-bind="translatedText: { key: 'Amount', language: $parent.selectedLanguage }">@(Html.Localize("Amount"))</b>
				</th>
			</tr>
		}
	</thead>
	<tbody>
		@using (Html.TemplateCondition("ServiceOrderExpensePostings.length === 0"))
		{
			<tr>
				<td colspan="4" data-bind="translatedText: { key: 'NoUsedExpenses', language: $parent.selectedLanguage }">
					@(Html.Localize("NoUsedExpenses"))
				</td>
			</tr>
		}
		@using (Html.TemplateContext("$parent.filterPositions($data, 'Expense')"))
		{
			@using (Html.TemplateForEach("$data"))
			{
				<tr>
					<td class="col-xs-2">
						<div>
							<b>@(Html.TemplateDate<ServiceOrderExpensePostingRest>(x => x.Date))</b>
						</div>
						<div data-bind="text: $parentContext.$parentContext.$parent.lookups.expensePostingUserDisplayNames[ko.unwrap($data.ResponsibleUser)]"></div>
					</td>
					<td class="col-xs-2">
						<!-- ko if: ItemNo-->
						<b>@(Html.TemplateText<ServiceOrderTimePostingRest>(x => x.ItemNo))</b>
						<!-- /ko -->
					</td>
					<td class="col-xs-7">
						<!-- ko if: ItemNo -->
						<b data-bind="text: $parentContext.$parentContext.$parent.lookups.articleDescriptions[ko.unwrap($data.ItemNo)]"></b>
						<!-- /ko -->
						<!-- ko if:ExpenseTypeKey -->
						<div><b><span data-bind="lookupValue: $data.ExpenseTypeKey, lookups:$parentContext.$parentContext.$parent.lookups.expenseTypes"></span></b></div>
						<!-- /ko -->
						<div data-bind="text: Description"></div>
					</td>
					<td class="col-xs-1 text-right">
						<b><span data-bind="money: Amount"></span></b>&nbsp;<span data-bind="lookupValue: CurrencyKey, lookups: $parentContext.$parentContext.$parent.lookups.currencies"></span>
					</td>
				</tr>
			}
			@using (Html.TemplateContext("{ types: $parentContext.$parent.getLumpSumPositionTypes($parent), language: $parentContext.$parent.selectedLanguage }"))
			{
				@using (Html.TemplateCondition("types.Expense"))
				{
					<tr>
						<td colspan="4" data-bind="translatedText: { key: 'ContainsLumpSumPositions', args: [Helper.String.getTranslatedString('Expenses')], language: language }"></td>
					</tr>
				}
			}
		}
	</tbody>
</table>
