@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions
@using Crm.Service.Rest.Model
@using Main.Offline.Extensions

<table class="table m-b-10 body-data" data-bind="visible: $parent.showTimePostingsTable($data)">
	<thead>
		<tr>
			<th class="bgm-bluegray" colspan="4">
				<b class="c-white" data-bind="translatedText: { key: 'TimePostings', language: $parent.selectedLanguage }">@(Html.Localize("TimePostings"))</b>
			</th>
		</tr>
		@using (Html.TemplateCondition("ServiceOrderTimePostings.length > 0"))
		{
			<tr>
				<th>
					<b class="c-gray" data-bind="translatedText: { key: 'Date', language: $parent.selectedLanguage }">@(Html.Localize("Date"))</b>
				</th>
				<th>
					<b class="c-gray" data-bind="translatedText: { key: 'Article', language: $parent.selectedLanguage }">@(Html.Localize("Article"))</b>
				</th>
				<th>
					<b class="c-gray" data-bind="translatedText: { key: 'Activity', language: $parent.selectedLanguage }">@(Html.Localize("Activity"))</b>
				</th>
				<th class="text-right">
					<b class="c-gray" data-bind="translatedText: { key: 'Duration', language: $parent.selectedLanguage }">@(Html.Localize("Duration"))</b>
				</th>
			</tr>
		}
	</thead>
	<tbody>
		@using (Html.TemplateCondition("ServiceOrderTimePostings.length === 0"))
		{
			<tr>
				<td colspan="4" data-bind="translatedText: { key: 'NoUsedTimes', language: $parent.selectedLanguage }">
					@(Html.Localize("NoUsedTimes"))
				</td>
			</tr>
		}
		@using (Html.TemplateContext("$parent.filterPositions($data, 'Time')"))
		{
			@using (Html.TemplateForEach("$data"))
			{
				<tr>
					<td>
						<div class="normal-white-space">
							<b>@(Html.TemplateDate<ServiceOrderTimePostingRest>(x => x.From))</b>
						</div>
						<div data-bind="text: $parentContext.$parentContext.$parent.lookups.timePostingUserDisplayNames[ko.unwrap($data.Username)]"></div>
						<div class="normal-white-space">
							<span data-bind="dateText: { value: From, timeZone: TimeZoneFrom, pattern: { time: 'short' } }"></span>
							(<span data-bind="text: Helper.Date.getUtcOffsetString(TimeZoneFrom, From)"></span>)
							- <br/>
							<span data-bind="dateText: { value: To, timeZone: TimeZoneTo, pattern: { time: 'short' } }"></span>
							(<span data-bind="text: Helper.Date.getUtcOffsetString(TimeZoneTo, To)"></span>)
						</div>
					</td>
					<td>
						<b>@(Html.TemplateText<ServiceOrderTimePostingRest>(x => x.ItemNo))</b>
					</td>
					<td>
						<div class="normal-white-space">
							<b data-bind="text: $parentContext.$parentContext.$parent.lookups.articleDescriptions[ko.unwrap($data.ItemNo)]"></b>
						</div>
						<div data-bind="text: Description"></div>
						<div data-bind="visible: Distance() !== null">
							<span data-bind="text: Distance"></span>&nbsp;
							<span data-bind="lookupValue: DistanceUnitKey, lookups: $root.lookups.distanceUnits"></span>
						</div>
					</td>
					<td class="text-right">
						<p class="m-b-0" data-bind="if: $root.showEstimatedData">
							<span data-bind="translatedText: { key: 'EstimatedQty', language: $parentContext.$parentContext.$parent.selectedLanguage }">@(Html.Localize("EstimatedQty")):</span>
							<b>
								<span data-bind="durationText: $root.getEstimatedDuration($data)"></span>
							</b>
							<span data-bind="translatedText: { key: 'HourAbbreviation', language: $parentContext.$parentContext.$parent.selectedLanguage }">@(Html.Localize("HourAbbreviation"))</span>
						</p>
						<p class="m-b-0">
							<span data-bind="visible: $root.showEstimatedData() || $root.showInvoiceData(),translatedText: { key: 'ActualQty', language: $parentContext.$parentContext.$parent.selectedLanguage }">
								@(Html.Localize("ActualQty")):
							</span>
							<b>
								<span data-bind="durationText: $root.getActualDuration($data)"></span>
							</b>
							<span data-bind="translatedText: { key: 'HourAbbreviation', language: $parentContext.$parentContext.$parent.selectedLanguage }">@(Html.Localize("HourAbbreviation"))</span>
						</p>
						<p class="m-b-0" data-bind="if: $root.showInvoiceData">
							<span data-bind="translatedText: { key: 'InvoiceQty', language: $parentContext.$parentContext.$parent.selectedLanguage }">@(Html.Localize("InvoiceQty")):</span>
							<b>
								<span data-bind="durationText: $root.getInvoiceDuration($data)"></span>
							</b>
							<span data-bind="translatedText: { key: 'HourAbbreviation', language: $parentContext.$parentContext.$parent.selectedLanguage }">@(Html.Localize("HourAbbreviation"))</span>
						</p>
					</td>
				</tr>
			}
			@using (Html.TemplateContext("{ types: $parentContext.$parent.getLumpSumPositionTypes($parent), language: $parentContext.$parent.selectedLanguage }"))
			{
				@using (Html.TemplateCondition("types.Time"))
				{
					<tr>
						<td colspan="4" data-bind="translatedText: { key: 'ContainsLumpSumPositions', args: [Helper.String.getTranslatedString('Times')], language: language }"></td>
					</tr>
				}
			}
		}
	</tbody>
</table>
