@using Crm.Library.Globalization.Extensions
@using Crm.Library.Modularization.Extensions
@inherits Crm.Library.Modularization.CrmViewUserControl

<!-- ko ifnot: $root.hideActions -->
<lv-actions>
	<!-- ko requiredPermission: { name: 'TimePostingsEdit', group: 'ServiceOrder' } -->
	<!-- ko with: $parentContext.$parentContext.$parent -->
	<li data-bind="visible: $data.timePostingCanBeEdited.call($data, $parent)">
		<a href="#"
		   data-bind="attr: { 'data-route': `Crm.Service/ServiceOrderTimePosting/EditTemplate/${$parent.Id()}?${($data.canEditEstimatedQuantities() ? 'prePlanned=true' : '')}` }"
		   data-toggle="modal" data-target="#lgModal">
			@(Html.Localize("Edit"))
		</a>
	</li>
	<!-- /ko -->
	<!-- /ko -->
	<!-- ko requiredPermission: { name: 'TimePostingRemove', group: 'ServiceOrder' } -->
	<!-- ko with: $parentContext.$parentContext.$parent -->
	<li data-bind="visible: $data.timePostingCanBeDeleted.call($data, $parent)">
		<!-- ko if: window.Helper.ServiceOrderTimePosting.wasPrePlanned($parent) -->
		<a href="#" data-bind="click: () => $data.deleteServiceOrderTimePosting($parent, true)">
			@(Html.Localize("Reset"))
		</a>
		<!-- /ko -->
		<!-- ko ifnot: window.Helper.ServiceOrderTimePosting.wasPrePlanned($parent) -->
		<a href="#" data-bind="click: () => $data.deleteServiceOrderTimePosting($parent)">
			@(Html.Localize("Delete"))
		</a>
		<!-- /ko -->
	</li>
	<!-- /ko -->
	<!-- /ko -->
	<!-- ko with: $parentContext.$parentContext.$parent -->
	<li data-bind="visible: $data.invoicePositionsCanBeAdded() && ($parent.ServiceOrderTimePostingType() === window.Crm.Service.ServiceOrderTimePostingType.Preplanned || $parent.ServiceOrderTimePostingType() === window.Crm.Service.ServiceOrderTimePostingType.Used) && window.Helper.ServiceOrderTimePosting.getInvoicePositions($parent).length === 0">
		<a href="#" data-bind="click: () => createInvoicePosition($parent)">
			@(Html.Localize("AddInvoicePosition"))
		</a>
	</li>
	<!-- /ko -->
	@Html.PluginRenderActions("DispatchTimePostingTemplateActions")
</lv-actions>
<!-- /ko -->