@inherits Crm.Library.Modularization.CrmViewUserControl
@using Crm.Library.Globalization.Extensions
@using Crm.Library.Modularization.Extensions

<!-- ko if: $parent.isVisible($data) -->
<div class="lv-item media" data-bind="infiniteScrollItem: { index: $index(), array: $parent.items }">
	@await Html.PartialAsync("GenericListBulkControl")
	<div class="media-body">
		<div class="row">
			@await Html.PartialAsync("../ServiceOrderTimePostingList/MaterialItemTemplateDetails")
			<div class="col-xs-11 col-sm-4">
				<div class="row">
					<span class="col-xs-2 p-r-5 visible-xs">@(Html.Localize("EstimatedQty")):</span>
					<span class="col-xs-6 col-sm-5 text-right p-r-5 p-l-5" data-bind="durationText: $parent.getEstimatedDuration($data)"></span>
					<span class="col-xs-4 col-sm-7 p-0 text-nowrap">
						<span>@(Html.Localize("HourAbbreviation"))</span>
						<span class="hidden-xs c-black p-l-5">(@(Html.Localize("EstimatedQty")))</span>
					</span>
				</div>
				<div class="row">
					<span class="col-xs-2 p-r-5 visible-xs">@(Html.Localize("ActualQty")):</span>
					<span class="col-xs-6 col-sm-5 text-right p-r-5 p-l-5" data-bind="durationText: $parent.getActualDuration($data)"></span>
					<span class="col-xs-4 col-sm-7 p-0 text-nowrap">
						<span>@(Html.Localize("HourAbbreviation"))</span>
						<span class="hidden-xs c-black p-l-5">(@(Html.Localize("ActualQty")))</span>
					</span>
				</div>
				<div class="row" data-bind="if: $root.showInvoiceData">
					<span class="col-xs-2 p-r-5 visible-xs">@(Html.Localize("InvoiceQty")):</span>
					<span class="col-xs-5 col-sm-5 text-right p-r-5 p-l-5" data-bind="durationText: $parent.getInvoiceDuration($data)"></span>
					<span class="col-xs-4 col-sm-7 p-0 text-nowrap">
						<span>@(Html.Localize("HourAbbreviation"))</span>
						<span class="hidden-xs c-black p-l-5">(@(Html.Localize("InvoiceQty")))</span>
					</span>
				</div>
			</div>
		</div>
		@await Html.PartialAsync("../ServiceOrderTimePostingList/MaterialItemTemplateActions")
	</div>
</div>
<!-- /ko -->