@using Crm.Library.Modularization.Extensions
@using Crm.Library.Globalization.Extensions
@inherits Crm.Library.Modularization.CrmViewUserControl
<div class="container">
	<div class="card">
		<form role="form" class="root-form">
			<collapsible-block params="id: 'general'" class="morph">
				<collapsible-block-header params="customCss: 'bg-white', swapIcons: true">
					<span>@(Html.Localize("General"))</span>
				</collapsible-block-header>
				<collapsible-block-content params="context: { user: $root.user }">
					<!-- ko with: user -->
					@Html.PluginRenderActions("UserCreateFormGeneralTop")
					<div class="flex-input-row">
						<div>
							<form-element params="value: FirstName, caption: 'Firstname', type: 'text'"></form-element>
						</div>
						<div>
							<form-element params="value: LastName, caption: 'LastName', type: 'text'"></form-element>
						</div>
					</div>
					<div class="flex-input-row">
						<div>
							<form-element params="value: Email, caption: 'EMail', type: 'email'"></form-element>
						</div>
						<div>
							<form-element params="value: Id, caption: 'UserName', type: 'text', disable: !$root.usernameIsEditable()"></form-element>
						</div>
					</div>
					<div class="flex-input-row">
						<div>
							<form-element params="value: $root.password, caption: 'Password', type: 'password'"></form-element>
						</div>
						<div>
							<form-element params="value: $root.password2, caption: 'ConfirmPassword', type: 'password'"></form-element>
						</div>
					</div>
					<div class="flex-input-row">
						<div>
							<form-element params="value: DefaultLanguageKey, caption: 'DefaultLanguageKey', type: 'select'">
								<select class="form-control" data-bind="select2autocompleter: { data: value, autocompleteOptions: { customFilter: Helper.User.languageFilter, table: 'Main_Language', mapDisplayObject: Helper.Lookup.mapLookupForSelect2Display, getElementByIdQuery: Helper.Lookup.getLookupByKeyQuery }, placeholder: placeholder }">
								</select>
							</form-element>
						</div>
					<div class="col-md-6">
						<form-element params="value: DefaultLocale, caption: 'Locale', type: 'select'">
								<select class="form-control" data-bind="select2autocompleter: { data: $root.locales, optionsText: Helper.Culture.getDisplayName }, value: value">
								</select>
							</form-element>
						</div>
					</div>
					<div class="flex-input-row">
						<div>
							<form-element params="value: TimeZoneName, caption: 'TimeZoneName', type: 'select'">
								<select class="form-control" data-bind="select2autocompleter: Helper.Date.getTimeZoneSelect2Options(), value: value"></select>
							</form-element>
						</div>
					</div>
					@Html.PluginRenderActions("UserCreateFormGeneralBottom")
					<!-- /ko -->
				</collapsible-block-content>
			</collapsible-block>

			<div class="top-separator"></div>

			<collapsible-block params="id: 'extended-data'" class="morph">
				<collapsible-block-header params="customCss: 'bg-white', swapIcons: true">
					<span>@(Html.Localize("ExtendedData"))</span>
				</collapsible-block-header>
				<collapsible-block-content params="context: { user: $root.user }">
					<!-- ko with: user -->
					@Html.PluginRenderActions("UserCreateFormExtendedDataTop")
					<div class="flex-input-row">
						<div>
							<form-element id="Roles" params="value: $root.roleIds, caption: 'Roles', type: 'select'">
								<select name="Roles" class="form-control" multiple="multiple" data-bind="select2autocompleter: { data: value, autocompleteOptions: { orderBy: ['Name'], table: 'Main_PermissionSchemaRole', mapDisplayObject: Helper.User.mapRoleForSelect2Display, placeholder: placeholder } }">
								</select>
							</form-element>
						</div>
						<div>
							<form-element id="Usergroups" params="value: $root.usergroupIds, caption: 'UserGroups', type: 'select'">
								<select name="Usergroups" class="form-control" multiple="multiple" data-bind="select2autocompleter: { data: value, autocompleteOptions: { orderBy: ['Name'], table: 'Main_Usergroup', customFilter: Helper.User.filterUsergroupQuery, mapDisplayObject: Helper.User.mapUsergroupForSelect2Display, placeholder: placeholder } }">
								</select>
							</form-element>
						</div>
					</div>
					<div class="flex-input-row">
						<div>
							<form-element params="value: PersonnelId, caption: 'PersonnelId', type: 'text'"></form-element>
						</div>
						<div>
							<form-element params="value: IdentificationNo, caption: 'IdentificationNo', type: 'text'"></form-element>
						</div>
					</div>
					<div class="flex-input-row">
						<div>
							<form-element params="value: MasterRecordNo, caption: 'MasterRecordNo', type: 'text'"></form-element>
						</div>
						<div>
							<form-element params="value: AdName, caption: 'AdName', type: 'text'"></form-element>
						</div>
					</div>
					<div class="flex-input-row">
						<div>
							<form-element params="value: DischargeDate, caption: 'DischargeDate', type: 'datePicker'"></form-element>
						</div>
					</div>
					<div class="flex-input-row">
						<div>
							<form-element params="value: Remark, caption: 'Remark', type: 'textarea'"></form-element>
						</div>
					</div>
					<div class="flex-input-row">
						<div>
							<form-element id="Licensed" params="value: $root.licensed, caption: 'AssignLicense', type: 'checkbox', disable: $root.availableUserLicenses() <= 0"></form-element>
						</div>
					</div>
					@Html.PluginRenderActions("UserCreateFormExtendedDataBottom")
					<!-- /ko -->
				</collapsible-block-content>
			</collapsible-block>

			@Html.PluginRenderActions("UserCreateForm")
		</form>
		@await Html.PartialAsync("CreateFormFooter")
	</div>
</div>