@using Crm.Library.Globalization.Extensions
@inherits Crm.Library.Modularization.CrmViewUserControl

<template id="MapItemTemplate">
	<div class="lv-title">
		<!-- ko requiredPermission: { name: 'Read', group: 'ServiceObject' } -->
		<a class="service-object-title" data-bind="attr: { href: '#/Crm.Service/ServiceObject/DetailsTemplate/' + Id() }, text: Helper.ServiceObject.getDisplayName($data)"></a>
		<!-- /ko -->
		<!-- ko noRequiredPermission: { name: 'Read', group: 'ServiceObject' } -->
		<span class="service-object-title" data-bind="text: Helper.ServiceObject.getDisplayName($data)"></span>
		<!-- /ko -->
		<small class="c-gray" data-bind="lookupValue: CategoryKey, lookups: $parent.lookups.serviceObjectCategories"></small>
	</div>
	<!-- ko if: InstallationsCount === 1 -->
	<small class="small">
		@(Html.Localize("For"))
		<!-- ko requiredPermission: { name: 'Read', group: 'Installation' } -->
		<a href="#/Crm.Service/ServiceObject/DetailsTemplate/{{Id}}?tab=tab-installations">
			<span data-bind="text: InstallationsCount"></span>
			<span>@(Html.Localize("Installation"))</span>
		</a>
		<!-- /ko -->
		<!-- ko noRequiredPermission: { name: 'Read', group: 'Installation' } -->
		<span class="text-muted" data-bind="text: InstallationsCount"></span>
		<span>@(Html.Localize("Installation"))</span>
		<!-- /ko -->
	</small>
	<!-- /ko -->
	<!-- ko if: InstallationsCount > 1 -->
	<small class="small">
		@(Html.Localize("For"))
		<!-- ko requiredPermission: { name: 'Read', group: 'Installation' } -->
		<a href="#/Crm.Service/ServiceObject/DetailsTemplate/{{Id}}?tab=tab-installations">
			<span data-bind="text: InstallationsCount"></span>
			<span>@(Html.Localize("Installations"))</span>
		</a>
		<!-- /ko -->
		<!-- ko noRequiredPermission: { name: 'Read', group: 'Installation' } -->
		<span class="text-muted" data-bind="text: InstallationsCount"></span>
		<span>@(Html.Localize("Installations"))</span>
		<!-- /ko -->
	</small>
	<!-- /ko -->
	<small class="lv-small" data-bind="foreach: Addresses">
		<address-block params="address: $data, lookups: $parentContext.$parent.lookups, showNames: false, showLink: false"></address-block>
	</small>
</template>